{% block title %}TID Members page{% endblock %}
{% block body_class %}members{% endblock %}
{% block body_id %}members{% endblock %}
{% block content %}

<section class="members-header blue-panel">
    <div class="row">
        <h4 class="members-header-title">Members Dashboard</h4>
        <h1 class="members-header-welcome">You’re Covered</h1>
        <h3 class="members-header-policy">Your policy number is: TIDAUS151129125</h3>
        <div class="members-header-details">Status: <span class="members-header-status">Active</span> | <a href="#">View policy</a></div>
    </div>
    <nav class="members-header-nav">
        <div class="row">
            <a class="members-header-link" href="#">
                <span class="icon-members icon-members--policies"></span>
                Policies
            </a>
            <a class="members-header-link" href="#">
                <span class="icon-members icon-members--claims"></span>
                Claims
            </a>
            <a class="members-header-link" href="#">
                <span class="icon-members icon-members--quote"></span>
                Get a Quote
            </a>
            <a class="members-header-link" href="#">
                <span class="icon-members icon-members--profile"></span>
                My Profile
            </a>
        </div>
    </nav>
</section>

<section class="members-content">
    <div class="row">
        <h2 class="blue">Get your free TID travel smarts</h2>

    </div>
</section>

{% endblock %}