{% block title %}TID Travel Money Card - 10 Currencies{% endblock %}
{% block content %}


<article class="content-item">


<div class="zone zone-before-main">

    <div class="header-panel dark-purple-panel" id="header">
        <div class="row">
            <div class="small-12 column">
                <h1>10 currencies available with TID Travel Money Card</h1>
                <p>Load up to 10 currencies on your card so you have the right currency no matter where you travel to. </p>
            </div>
        </div>
    </div>
</div>

<div class="content-panel">
        <div class="row">
            <div class="small-12 column">

<div class="zone zone-content">
<article class="page-with-quote-panel content-item">
    <header>
        
    </header>
  <!-- CTA Panel Snippet -->
  <div class="row panel" id="cta-panel">
    <div class="small-12 medium-10 large-centered  columns"><h3>The smarter way to spend &amp; save overseas.</h3> <a href="/tid-travel-money" class="button pink">Get your free card</a></div>
  </div>
  <style>
    #cta-panel a.button { margin-bottom: 0;}
    #cta-panel h3 { display: inline-block; margin-right: 1rem; margin-top: .5rem;}
    #cta-panel { margin-bottom: 3rem;}
  </style>
  <!-- CTA Snippet End -->

  <h2>What currencies can I load on TID Travel Money Card</h2>
  <p>You can load up to 10 currencies on your card. Currencies include:</p>
  <ul>
  <li>Great British Pound (GBP)</li>
  <li>Euro (EUR)</li>
  <li>New Zealand Dollars (NZD)</li>
  <li>Japanese Yen (JPY)</li>
  <li>Canadian Dollars (CAD)</li>
  <li>Thai Baht (THB)</li>
  <li>Singapore Dollars (SGP)</li>
  <li>Hong Kong Dollars (HKD)</li>
  <li>Australian Dollars (AUD)</li>
  </ul>
  <h2>Load multiple currencies on TID Travel Money Card</h2>
  <p>You can preload a single currency, or several, depending on where you’re going. Whether you’re heading to one country or making multiple stops, TID Travel Money Card makes it easy to access the right currency no matter where you are.</p>
  <h2>Accessing currency on TID Travel Money Card</h2>
  <p>How does TID Travel Money Card know which currency to use if you’re visiting multiple countries? &nbsp;Great question! TID Travel Money card is so smart it automatically knows which currency you need depending on what country you’re in. You can also select a ‘preferred currency’ in your online account which means you will only use this currency no matter where you are.&nbsp;</p>
  <p></p>


</article></div>
<div class="zone zone-after-content">
<article class="widget-gfdg widget-after-content widget-raw-html-widget widget">
    <script async="" type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js"></script>
<style>
.trust-widget p {
  font-size:16px;
  color:#8b8b8b;
  line-height:24px;
}
.trust-widget h5 {
  font-weight:100;
  padding-top:10px;
}
.trustpilot-widget {
  margin-top:15px;
}

.trust-ozzie {
  background: url('/Media/Default/trust/trust_ozzie.png') no-repeat left top;
  padding-left:50px; 

  }
.trust-return {
  background: url('/Media/Default/trust/trust_return.png') no-repeat left top;
  padding-left:50px;    
  }
.trust-change {
  background: url('/Media/Default/trust/trust_change.png') no-repeat left top;
  padding-left:50px;    
  }
.trust-tripwise {
  background: url('/Media/Default/trust/trust_tripwise.png') no-repeat left top;
  padding-left:50px;    
  }
.trust-reviews {
  background: url('/Media/Default/trust/trust_reviews.png') no-repeat left top;
  padding-left:50px;
  margin-bottom:50px;
  margin-top: -30px;
  }

@media all and (min-width: 40em) {


}
@media all and (max-width: 64em) {


}
@media all and (max-width: 40em) {
.trustpilot-widget {
  margin-left:-50px;
}
  }

}

</style>

<div class="row medium-collapse trust-widget">
  
  <h2 class="blue" style="margin-bottom: 0px;">You're covered with TID</h2>
  <div class="small 12" style="margin-bottom: 16px; margin-left: 8px;">
   <span class="fa fa-star yellow"></span> <span class="fa fa-star yellow"></span> <span class="fa fa-star yellow"></span> <span class="fa fa-star yellow"></span> <span class="fa fa-star yellow"></span>
    <span itemscope="" itemtype="http://schema.org/LocalBusiness" style="color: #ffffff;">
          <a href="http://www.travelinsurancedirect.com.au/travel-insurance-reviews" class="reviews" style="color: #ffffff;">
            <span itemprop="name" style="color: #ffffff;">
              Travel Insurance Direct
            </span>
          </a> 
          is 
          <span itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating" style="color: #ffffff;">
            <a href="http://www.productreview.com.au/p/travel-insurance-direct.html" rel="nofollow" target="_blank" style="color: #ffffff;">rated</a>
            <span itemprop="ratingValue" style="color: #ffffff;">
              4.2 stars
            </span> 
              by
            <span itemprop="ratingCount" style="color: #ffffff;">
              874
            </span>
            customers.
          </span>
        </span>
  </div>
  <div class="small-12 medium-6 large-3 column">
    <div class="trust-ozzie">
      <h5>Trusted by Australians</h5>
      <p>Trusted by over 1 million Australians, we are recommended because of our value and service.</p>
    </div>
  </div>

  <div class="small-12 medium-6 large-3 column">
    <div class="trust-return">
      <h5>14 day Guarantee</h5>
      <p>Our 14 day money back guarantee means you can cancel your policy and we'll give you a full refund.</p>
    </div>
  </div>

  <div class="small-12 medium-6 large-3 column">
    <div class="trust-change">
      <h5>Help Change Lives</h5>
      <p>You too can <a href="/small-enough-to-change-the-world">help change lives</a> when you buy your travel insurance from TID.</p>
    </div>
  </div>

  <div class="small-12 medium-6 large-3 column">
    <div class="trust-tripwise">
      <h5>Tripwise app</h5>
      <p>Download our FREE app with insights, advice and phrase book, for iPhone &amp; Android.</p>
      <p><a href="/tripwise-iphone-android-app-from-travel-insurance-direct"><img src="/Media/Default/main/tripwise/itunes-download.png"></a></p>
    </div>
  </div>

  <hr style="margin-top:20px;">
  
</div>


<div class="row medium-collapse trust-widget">
  
  <div class="small-12 medium-12 large-12 column">
    <div class="trust-reviews small-12">
      <h5>Latest customer reviews</h5>
      <div class="trustpilot-widget" data-locale="en-AU" data-template-id="53aa8912dec7e10d38f59f36" data-businessunit-id="5500023c0000ff00057df92a" data-style-height="130px" data-style-width="100%" data-theme="light" data-stars="4,5" style="position: relative;"><iframe frameborder="0" scrolling="no" src="http://widget.trustpilot.com/widgets/53aa8912dec7e10d38f59f36/5500023c0000ff00057df92a/en-AU/index.html?locale=en-AU&amp;templateId=53aa8912dec7e10d38f59f36&amp;businessunitId=5500023c0000ff00057df92a&amp;styleHeight=130px&amp;styleWidth=100%25&amp;theme=light&amp;stars=4%2C5" style="height: 130px; width: 100%; border-style: none; display: block; overflow: hidden;"></iframe></div>  
    </div>
  </div>
  
</div>
</article></div>            </div>
        </div>
    </div>


</article>

{% endblock %}