{% block title %}TID Travel Money Card - Competition{% endblock %}
{% block content %}

<style>

  #header.header-panel p {
    font-size: 1.125rem;
    letter-spacing: 0;
  }
  #header.header-panel p.highlight {
    font-size: 2rem;
    letter-spacing: -.0625rem
  }
  #header.header-panel p.small, .prizes li p.small {
    font-size: 0.95rem;
    letter-spacing: 0rem
  }
  #header.header-panel { padding-bottom: 0; }
  #header .panel { margin-bottom: 2rem; }
  #header-actions { 
    position: relative;
    bottom: 0px; left: 0; right: 0;
    background-color: rgba(0, 0, 0, 0.45);
    padding: 10px 0;
    margin-top: 2rem;
  }
  #header-actions .button { margin-bottom: 0; }
  #header-actions p { padding-top: 8px; padding-bottom: 6px;  margin-bottom: 0px; color: #FFFFFF; }
  
  /* steps grid block */
  ul.steps { margin-top: 2rem; margin-bottom: 2rem; }
  .steps li.step-1 { background-image: url(/Media/Default/travel-money/icon-step-1.png) } 
  .steps li.step-2 { background-image: url(/Media/Default/travel-money/icon-step-2.png) } 
  .steps li.step-3 { background-image: url(/Media/Default/travel-money/icon-step-3.png) } 
  
  /* Prizes */
  ul[class*=block-grid-] li.text-with-img { background-position: 0 4px; background-size: 54px 54px; padding-bottom:1rem; margin-bottom:0; }
  ul[class*=block-grid-] li.text-with-img p, ul[class*=block-grid-] li.text-with-img h4 { padding-left: 54px; }
  .prizes li.big-prizes-pink { background-image: url(/Media/Default/travel-money/icon-big-prize-pink.png) } 
  .prizes li.small-prizes-pink { background-image: url(/Media/Default/travel-money/icon-small-prize-pink.png) } 
  .prizes li.chances-pink { background-image: url(/Media/Default/travel-money/icon-calendar-pink.png) }
  
  /* Content Panels */
  .content-panel { padding-bottom: 1rem }
  
  @media all and (min-width: 40em) {
    #header {
      background-image: url('/Media/Default/travel-money/travelmoney-activate-desktop.jpg');
      background-position: center right;
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 400px;
    }
    #header.header-panel {
      padding-top: 3rem;
    }

  }
  @media all and (max-width: 64em) {
    #header {
      background-image: url('/Media/Default/travel-money/travelmoney-activate-tablet.jpg');
      background-position: center right;
      background-size: cover;
      background-repeat: no-repeat;
    }

  }
  @media all and (max-width: 40em) {
    #header {
      background-image: url('/Media/Default/travel-money/travelmoney-activate-phone.jpg');
      background-position: center right;
      background-size: cover;
      background-repeat: no-repeat;
      padding-top: 1.5rem;
    }
    #header .panel { margin-bottom: 1rem; }
    #header .panel .columns { margin-bottom: 0; padding: 0;  }
  }

</style>

<article class="content-item">
  <div class="header-panel purple-panel" id="header">
    <div class="row">
      <div class="small-12 large-8 column">
        <h1>Activate your TID Travel Money card</h1>
        <p class="highlight">Received your card? Now all you need to do is activate.</p>
        
        <!-- apply btn -->
        <a class="button pink small-expand large" href="#entry-form">Activate your card</a>
      </div>
    </div>
    <div class="" id="header-actions">
      <div class="row">
        <div class="small-12 medium-8 large-4 columns">
          <p>Already have your card and need to reload?</p>
        </div>
        <div class="small-12 medium-4 large-8 columns">
          <a href="" class="button purple medium">Load up now</a>
        </div> 
      </div>
    </div>
  </div>
  
  
<!-- 3 steps -->
  <div class="content-panel">
    <div class="row">
      <div class="small-12 columns"><h2 class="purple">Activate your Card to enter the weekly draw</h2></div>
      
      <div class="small-12 medium-8 columns">
        
        <h3 class="dark-purple">Received your card? Here is what to do next.</h3>
        
        <ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-1 steps">
          <li class="text-with-img step-1">
            <h4>Sign and activate your card</h4>
            <p>Sign the back of your card and activate online to get started. </p>
          </li>
          <li class="text-with-img step-2">
            <h4>Register your card to retrieve your pin</h4>
            <p>Once you have activated, register your card to create your online account. In your new account, you can retrieve your PIN – make sure you keep this 4-digit number safe.</p>
          </li>
          <li class="text-with-img step-3">
            <h4>Load up your card</h4>
            <p>Select your preferred currencies in your online account and use BPAY or Bank Transfer to load up your card.</p>
          </li>
        </ul>
        
        <a class="button pink small-expand large" href="#entry-form">Activate your card</a>
        
      </div>
      
      <div class="hide-for-small medium-4 large-3 columns">
        <img src="/Media/Default/travel-money/tid-tmc-activate-promo.jpg">
        <a class="button purple medium expand" href="">Activate to enter</a>
        <ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-1 prizes">
          <li class="text-with-img big-prizes-pink">
            <h4>4 x $1,500</h4>
            <p>1 winner wins $1500 each week</p>
          </li>
          <li class="text-with-img small-prizes-pink">
            <h4>200 x $100</h4>
            <p>50 winners get $100 each draw</p>
          </li>
          <li class="text-with-img chances-pink">
            <h4>4 x Chances</h4>
            <p>New chance to win each week</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <!--  Donation Panel -->
  <div class="content-panel purple-panel">
    <div class="row">
      <div class="small-12 medium-3 large-3 columns">
        <img src="/Media/Default/travel-money/fh-brenden-esposito.jpg">
        <small>Photography by: Brenden Esposito</small>
      </div>
      <div class="small-12 medium-6 large-6 columns">
        <h3>Everytime you load up, we’ll make a donation!</h3>
        <p>When you load funds on your TID Travel Money Card, TID will make a donation to The Fred Hollows Foundation. Let’s work together to put an end to avoidable blindness.</p>
      </div>
      <div class="small-12 medium-3 large-3 columns"><img src="/Media/Default/travel-money/fh-logo.png"></div>
    </div>
  </div>
  
</article>  


{% endblock %}