{% block title %}TID Travel Money Card - Competition{% endblock %}
{% block content %}
<style>

  #header.header-panel p {
    font-size: 1.125rem;
    letter-spacing: 0;
  }
  #header.header-panel p.highlight {
    font-size: 2rem;
    letter-spacing: -.0625rem
  }
  #header.header-panel p.small {
    font-size: 0.95rem;
    letter-spacing: 0rem
  }
  #header .text-with-img { margin-bottom: 0; padding-bottom: 0; } 
  #header .panel { margin-bottom: 2rem; }
  #header.header-panel { padding-bottom: 0; }
  /* prizes grid block */
  #header-prize-panel { 
    position: relative;
    bottom: 0px; left: 0; right: 0;
    background-color: rgba(60, 28, 100, 0.75);
    padding: 10px 0;
    margin-top: 2rem;
  }
  .prizes li.big-prizes { background-image: url(/Media/Default/travel-money/icon-big-prize-inverse.png) } 
  .prizes li.small-prizes { background-image: url(/Media/Default/travel-money/icon-small-prize-inverse.png) } 
  .prizes li.chances { background-image: url(/Media/Default/travel-money/icon-calendar-inverse.png) }
  
  /* steps grid block */
  ul.steps { margin-top: 2rem; }
  .steps li.step-1 { background-image: url(/Media/Default/travel-money/icon-step-1.png) } 
  .steps li.step-2 { background-image: url(/Media/Default/travel-money/icon-step-2.png) } 
  .steps li.step-3 { background-image: url(/Media/Default/travel-money/icon-step-3.png) } 
  
  /* why benefits grid block */
  .why-benefits li.avoid-fees { background-image: url(/Media/Default/travel-money/icon-avoid-fees.png) }
  .why-benefits li.ten-currencies { background-image: url(/Media/Default/travel-money/icon-ten-currencies.png) }
  .why-benefits li.easy-to-use { background-image: url(/Media/Default/travel-money/icon-easy-to-use.png) }
  .why-benefits li.safer-than-cash { background-image: url(/Media/Default/travel-money/icon-safer-than-cash.png) }
  .why-benefits li.manage-online { background-image: url(/Media/Default/travel-money/icon-manage-online.png) }
  .why-benefits li.medical-claims { background-image: url(/Media/Default/travel-money/icon-medical-claims.png) }

  
  @media all and (min-width: 40em) {
    #header {
      background-image: url('/Media/Default/travel-money/tid-tmc-header-bg.jpg');
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 400px;
    }

  }
  @media all and (max-width: 64em) {
    #header {
      background-image: url('/Media/Default/travel-money/tid-tmc-header-bg.jpg');
    }

  }
  @media all and (max-width: 40em) {
    #header {
      background-image: url('/Media/Default/travel-money/tid-tmc-header-bg.jpg');
      padding-top: 1.5rem;
    }
    #header .panel { margin-bottom: 1rem; }
    #header .panel .columns { margin-bottom: 0; padding: 0;  }
    #header li.text-with-img { padding-bottom: .25rem; border-top: 1px solid #7865a7; }
    #header li.text-with-img:last-child { border-bottom: 1px solid #7865a7; }
    /*  show background icons on mobile  */
    #header .prizes li.text-with-img { background-repeat: no-repeat; background-position: 0 16px; background-size: 48px 48px; }
    #header .prizes li.text-with-img p, #header .prizes li.text-with-img h4 { padding-left: 64px; }
    .prizes li.text-with-img.big-prizes { background-image: url(/Media/Default/travel-money/icon-big-prize-inverse.png);}
    .prizes li.text-with-img.small-prizes { background-image: url(/Media/Default/travel-money/icon-small-prize-inverse.png);}
    .prizes li.text-with-img.chances { background-image: url(/Media/Default/travel-money/icon-calendar-inverse.png);}
  }

</style>
<article class="content-item">
  <div class="header-panel purple-panel" id="header">
    <div class="row">
      <div class="small-12 large-10 column">
        <h1>Win your share of $26,000</h1>
        <p class="highlight">Let TID put some extra spending money on your card.</p>
        <!-- apply btn -->
        <a class="button pink small-expand" href="#entry-form">Enter the draw</a>
      </div>

    </div>
    
    <div class="" id="header-prize-panel">
      <div class="row">
        <div class="small-12 columns">
          <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 prizes">
              <li class="text-with-img big-prizes">
                <p class="small">Big Prizes</p>
                <h4>4 x $1,500</h4>
                <p>1 winner wins $1500 each week</p>
              </li>
              <li class="text-with-img small-prizes">
                <p class="small">Small Prizes</p>
                <h4>200 x $100</h4>
                <p>50 winners get $100 each draw</p>
              </li>
              <li class="text-with-img chances">
                <p class="small">Weekly Draw</p>
                <h4>4 x Chances</h4>
                <p>New chance to win each week</p>
              </li>
            </ul>
        </div> 
      </div>
    </div>
  </div>
  
  
  <!-- 3 steps -->
  <div class="content-panel">
    <div class="row">
      <div class="small-12 columns"><h2 class="purple">Get your Card to enter the weekly draw</h2></div>
      
      <div class="small-12 medium-8 columns">
        
        <h3 class="dark-purple">Here is how to enter</h3>
        
        <ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-1 steps">
          <li class="text-with-img step-1">
            <h4>Tell us your details</h4>
            <p>Fill in your information so that we can get in touch if you win.</p>
          </li>
          <li class="text-with-img step-2">
            <h4>Apply for your TID Travel Money card</h4>
            <p>Complete the online application form and get your card.</p>
          </li>
          <li class="text-with-img step-3">
            <h4>Activate your card</h4>
            <p>When your card arrives by mail, activate online to automaticaly be in the running.</p>
          </li>
        </ul>
      </div>
      
      <div class="hide-for-small medium-4 columns">
        <img src="/Media/Default/travel-money/tid-tmc-header.png">
        <h3 class="dark-purple">Get your Free TID Travel Money Card delivered to your door.</h3>
      </div>
    </div>
    

  </div>


  <div class="content-panel light-grey-panel" id="entry-form">
    <div class="row">
      <div class="small-12 columns"><h2 class="small-only-text-left text-center purple">Step 1: Tell us your details</h2></div>
      <div class="small-12 medium-4 large-3 large-offset-1 columns">
        <label>First Name
          <input type="text" placeholder="Enter your first name" />
        </label>
      </div>
      <div class="small-12 medium-4 large-3 columns">
        <label>Surname
          <input type="text" placeholder="Enter your surname" />
        </label>
      </div>
      <div class="small-12 medium-4 large-4 end columns">
        <label>Email
          <input type="text" placeholder="Enter your email" />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-4 large-3 large-offset-1 columns">
        <label>Next Travel Date
          <input type="text" placeholder="Enter your next travel date" />
        </label>
      </div>
      <div class="small-12 medium-8 large-7 end columns">
        <label>Next Destination
          <input type="text" placeholder="Which countries will you be going to?" />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns text-center">
        <a class="button pink">Next: Get your Travel Money Card</a>
      </div>
    </div>
    
  </div>
  
  
  <div class="content-panel">
    <div class="row header">
      <div class="small-12 columns">
        <h2 class="text-center small-only-text-left purple">Why it’s the smart way to spend</h2>

        <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 why-benefits">
          <li class="text-with-img avoid-fees">
            <h4>Avoid fees </h4>
            <p>Lock in your exchange rate and pay in the local currency to avoid surprise fees.</p>
          </li>
          <li class="text-with-img ten-currencies">
            <h4>10 currencies </h4>
            <p>Load your card with up to 10 different currencies</p>
          </li>
          <li class="text-with-img easy-to-use">
            <h4>Easy to use </h4>
            <p>Use like a debit card at 36 million destinations worldwide.</p>
          </li>
          <li class="text-with-img safer-than-cash">
            <h4>Safer than cash </h4>
            <p>Your personalised card is not linked to any bank accounts and is protected against frauds, scams and skimming.</p>
          </li>
          <li class="text-with-img manage-online">
            <h4>Manage online </h4>
            <p>Access your account online or via TID’s Tripwise App where you can easily top up and manage</p>
          </li>
          <li class="text-with-img medical-claims">
            <h4>Medical &amp; Claims</h4>
            <p>TID can load extra funds directly onto your card when you claim.</p>
          </li>
        </ul>
      </div>
      <div class="small-12 columns text-center">
        <a class="button purple">Find out more</a>
      </div>
    </div>

  </div>
  
  
  
  
</article>

{% endblock %}