{% layout "edm" %}
{% block title %}TID EDM{% endblock %}
{% block content %}



          <!-- Content Area -->
          <table class="container content-area" id="quote">
            <tr>
              <td>

                <!-- content start -->
                <table class="row">
                  <tr>
                    <td class="last">
                      <table class="twelve columns">
                        <tr>
                          <td id="quote-header">
                            <h1>Save <br> just a TID</h1>
                            <h2>Get cover for your next trip to Vietnam, Philipines, Fiji.</h2>

                                  <table class="row" align="center">
                                    <tr>
                                      <td class="wrapper last" align="center">

                                        <table class="six columns" align="center">
                                          <tr>
                                            <td class="left-text-pad">
                                              <table class="button medium-button">
                                                <tr>
                                                  <td>
                                                    <a href="http://www.travelinsurancedirect.com.au/campaigns/travel-scout">Buy Now</a>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>
                                      <td class="expander"></td>
                                    </tr>
                                  </table>

                                </td>
                              </tr>
                            </table>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>

                <table class="row callout">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                            
                            <h3>Are you a passionate traveller with a few trips planned for the next year? </h3>
                            <p>Do you love taking photographs, making short videos or keeping a blog that captures your adventures from around the world?</p>
                            <p>You could become a TID Travel Scout and have the opportunity to share your experiences with other passionate travellers.</p>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>

                <table class="row">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">

                            <h3>What’s in it for you?</h3>
                            <p>TID Travel Scouts will be our official travel storytellers. 
                              You’ll receive an Annual Multi-Trip policy (that’s 12 months’ worth of coverage) and an iPad mini to take on the road. </p>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>


                <table class="row">
                  <tr>
                    <td class="wrapper last">

                      <table class="five columns">
                        <tr>
                          <td class="left-text-pad">

                            <table class="button">
                              <tr>
                                <td>
                                  <a href="http://www.travelinsurancedirect.com.au/campaigns/travel-scout">Find out more</a>
                                </td>
                              </tr>
                            </table>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>

                

                <!-- container end below -->
              </td>
            </tr>
          </table>
          
          
          



{% endblock %}