{% layout "edm" %}
{% block title %}TID EDM{% endblock %}
{% block content %}



          <!-- Content Area -->
          <table class="container content-area">
            <tr>
              <td>

                <!-- content start -->
                                <table class="row">
                  <tr>
                    <td class="last">
                      <table class="twelve columns">
                        <tr>
                          <td>
                            <a href="http://www.travelinsurancedirect.com.au/campaigns/travel-scout"><img width="580" height="300" src="http://www.travelinsurancedirect.com.au//Media/Default/edm/travel-scout/travel-scout-response-header.jpg"></a>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>

                <table class="row callout">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                            
                            <h4>We have received your entry and look forward to finding out more about you.</h4><br/>
                            <p>The TID Travel Scouts competition closes on 1 June 2015 at 9am (AEST) and winners will be announced on 1 July 2015</p>
                            <p>In the meantime, check out our <a href="http://www.travelinsurancedirect.com.au/TIDbits-blog">blog</a> to see what our Brand Ambassadors Neerav Bhatt and Erin Bender have contributed.</p>
                            <p>Good luck!</p>
                            <p>TID Team.</p>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
                

                <!-- container end below -->
              </td>
            </tr>
          </table>
          
          
          



{% endblock %}