{% layout "edm" %}
{% block title %}TID EDM{% endblock %}
{% block content %}



          <!-- Content Area -->
          <table class="container content-area">
            <tr>
              <td>

                <!-- content start -->
                                <table class="row">
                  <tr>
                    <td class="last">
                      <table class="twelve columns">
                        <tr>
                          <td>
                            <a href="http://www.travelinsurancedirect.com.au/campaigns/travel-scout"><img width="580" height="560" src="/Media/Default/edm/travel-scout/travel-scout-header-follow-up.jpg"></a>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>

                <table class="row callout">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                            
                            <h3>Are you a passionate traveller with a few trips planned for the next year? </h3>
                            <p>Put your talents in writing, photography or film to good use by becoming a TID Travel Scout. We’ll give you an Annual Multi-Trip policy worth up to $1000 and an iPad Mini 2 32GB Wi-Fi (valued at $429).</p>
                            
                          
                            <p>But the best bit is the opportunity to share your travel stories with the world.</p>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>


                <table class="row">
                  <tr>
                    <td class="wrapper last">

                      <table class="five columns">
                        <tr>
                          <td class="left-text-pad">

                            <table class="button">
                              <tr>
                                <td>
                                  <a href="http://www.travelinsurancedirect.com.au/campaigns/travel-scout">Find out more</a>
                                </td>
                              </tr>
                            </table>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>

                

                <!-- container end below -->
              </td>
            </tr>
          </table>
          
          
          



{% endblock %}