{% layout "edm" %}
{% block title %}TID EDM{% endblock %}
{% block content %}



          <!-- Content Area -->
          <table class="container content-area">
            <tr>
              <td>

                <!-- content start -->
                                <table class="row">
                  <tr>
                    <td class="last">
                      <table class="twelve columns">
                        <tr>
                          <td>
                            <a href="http://www.travelinsurancedirect.com.au/campaigns/travel-scout"><img width="580" height="450" src="http://www.travelinsurancedirect.com.au//Media/Default/edm/travel-scout/travel-scout-header.jpg"></a>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>

                <table class="row callout">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                            
                            <h3>We believe everyone should be able to see the world which is why we support the Fred Hollows Foundation through our micro-donation program.</h3>
                            <p>Buy a TID policy and donate to the Fred Hollows Foundation and you could win a trip to Cambodia, including a visit to a Fred Hollows clinic, to experience their life changing work firsthand.</p>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>


                <table class="row">
                  <tr>
                    <td class="wrapper last">

                      <table class="five columns">
                        <tr>
                          <td class="left-text-pad">

                            <table class="button">
                              <tr>
                                <td>
                                  <a href="http://www.travelinsurancedirect.com.au/campaigns/travel-scout">Enter now</a>
                                </td>
                              </tr>
                            </table>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>

                

                <!-- container end below -->
              </td>
            </tr>
          </table>
          
          
          



{% endblock %}