{% layout "edm-travelmoney" %}
{% block title %}TID EDM{% endblock %}
{% block content %}

<style>
    /*  TID Quote Styles  */
    #quote-title { background-color: #7961aa;}
    #quote-header { background-color: #7961aa; padding-left:0px; padding-right:0px; padding-top:0px; text-align:center;}
    
    #quote-header h1 {font-size:28px; color:#ffffff; letter-spacing:-0.03em; text-align:center; line-height:40px; padding-bottom:10px;}
    table.medium-button td {
      display: block;
      width: auto !important;
      text-align: center;
      background: #ea3091;
      border: 1px solid #ea3091;
      color: #ffffff;
      padding: 14px 0;
    }
  table.medium-button td a {
    font-size:24px;
  }
    table.button:hover td,
    table.button:visited td,
    table.button:active td {
      background: #3e1c64 !important;
    }
    #quote-header table.medium-button {
    }
    #quote-header .cta {
      padding:40px;
    }
   .quote-dates {width:40px;}
   .quote-dates-space {width:20px;}
   .label-grey {color:#bcbcbc;}
   .price {color:#404040; border-top:1px solid #efefef;padding-top:20px;}
  .price span{color:#bcbcbc;font-size:16px;}
  .details-heading {margin-bottom:10px;color:#ea3091;}
</style>

          <!-- Content Area -->
          <table class="container content-area" id="quote">
            <tr>
              <td>

                <!-- content start -->
                
                
                
                <table class="row">
                  <tr>
                    <td class="last">
                      <table class="twelve columns">
                        <tr>
                          <td id="quote-header">
                            <a href="http://www.travelinsurancedirect.com.au/" alt="Your card is on it’s way!" title="Your card is on it’s way!" style=”font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #ffffff; font-style: italic; font-size: 30px; background-color:#7961aa” bgcolor="#00bae4" class="center" width="580" height="234"><img src="http://www.travelinsurancedirect.com.au/Media/Default/edm/travelmoney/travelmoney-cardsent-top.png" alt="Your card is on it’s way!" title="Your card is on it’s way!" style=”font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; color: #ffffff; font-style: italic; font-size: 30px; background-color:#00bae4” bgcolor="#7961aa" class="center" width="580" height="234"></a>                            
                            
                          <h1> You can expect your card to arrive by post in the next 7-10 working days, so keep an eye on your mail box.</h1>
  
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                      <img src="http://www.travelinsurancedirect.com.au/Media/Default/edm/travelmoney/travelmoney-cardsent-flyingcard.png">
                      <img src="http://www.travelinsurancedirect.com.au/Media/Default/edm/travelmoney/travelmoney-zigzag.png">
                    </td>
                  </tr>
                </table>

                <table class="row">
                  <tr>
                    <td class="wrapper last">

                     <table class="twelve columns">
                        <tr>
                          <td>
                            
                            <h3 class="center details-heading">WIN your share of $26,000</h3>
                            <div class="center"><center>Activate your card when it arrives and you are automatically in with a chance to win some extra spending money!</center><br></div>
                            

<table class="row">
  <tr>
    <td class="wrapper last center">
      
      <table class="twelve columns">
        <tr>
          <td class="sub-grid left-text-pad">

            <table>
              <tr>
                <td class="four sub-columns center">


                  <img src="http://www.travelinsurancedirect.com.au/Media/Default/edm/travelmoney/travelmoney-icon-majorprize.png" class="center"><div class="center">$1500 <br>Major Prize</div>


                </td>
                <td class="four sub-columns center">


                  <img src="http://www.travelinsurancedirect.com.au/Media/Default/edm/travelmoney/travelmoney-icon-minorprize.png" class="center"><div class="center">50 x $100 <br>Minor Prize</div>


                </td>
                <td class="four sub-columns center">


                  <img src="http://www.travelinsurancedirect.com.au/Media/Default/edm/travelmoney/travelmoney-icon-draws.png" class="center"><div class="center">Weekly Draws<br> for 4 weeks</div>


                </td>
                 <td class="expander"></td>
              </tr>
            </table>

          </td>
          <td class="expander"></td>
        </tr>
      </table> 

    </td>
  </tr>
</table>
                            
<center>
<table class="six columns">
  <tr>
    <td class="center">
      
      <table class="button medium-button">
        <tr>
          <td>
            <a href="http://www.travelinsurancedirect.com.au/campaigns/travel-scout">Ready to activate card?</a>
          </td>
        </tr>
      </table>
      
    </td>
    <td class="expander"></td>
  </tr>
</table>                            
</center>                                                      
                            
                            
                           
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                      
                    </td>
                  </tr>
                </table>
                



                
                
                
                
                
                
                
                
                


                <!-- container end below -->
              </td>
            </tr>
          </table>
          
          
          



{% endblock %}