{% layout "edm-june" %}
{% block title %}TID EDM{% endblock %}
{% block content %}



          <!-- Content Area -->
          <table class="container content-area">
            <tr>
              <td>

                <!-- content start -->
                                <table class="row">
                  <tr>
                    <td class="last">
                      <table class="twelve columns">
                        <tr>
                          <td bgcolor="#00a6cb" style="background-color:#00a6cb;font-size:32px;color:#ffffff;padding-bottom:0px"><a href="http://www.travelinsurancedirect.com.au/cambodia-competition?utm_source=tid_au&utm_medium=email&utm_content=offer-primary&utm_campaign=giveaway-june2015-cambodia" style="color:#ffffff;" valign="middle" align="center"><img width="580" height="532" alt="Win a trip for 2 to Cambodia!" title="Win a trip for 2 to Cambodia!" src="http://www.travelinsurancedirect.com.au/Media/Default/campaigns/june2015/JuneCampaign2015-EDM-Top.jpg"></a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>

                <table class="row callout">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                            
                            <h3>A life changing experience <br>in Cambodia</h3>
                            <p>Donate to the Fred Hollows Foundation, buy a TID policy and you could win a trip to Cambodia. The trip includes a visit to a Fred Hollows clinic, the wondrous Angkor Wat and more.</p>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>

                


                <table class="row">
                  <tr>
                    <td class="wrapper last">

                      <table class="five columns">
                        <tr>
                          <td class="left-text-pad">

                            <table class="button">
                              <tr>
                                <td>
                                  <a href="http://www.travelinsurancedirect.com.au/cambodia-competition?utm_source=tid_au&utm_medium=email&utm_content=offer-cta&utm_campaign=giveaway-june2015-cambodia">Enter now</a>
                                </td>
                              </tr>
                            </table>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
                
                
                
                <table class="row">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">

                            <p><a href="http://www.travelinsurancedirect.com.au/cambodia-competition?utm_source=tid_au&utm_medium=email&utm_content=offer-hollows-pic&utm_campaign=giveaway-june2015-cambodia"><img width="540" height="208" src="http://www.travelinsurancedirect.com.au/Media/Default/campaigns/june2015/JuneCampaign2015-EDM-fred2.jpg" style="margin-bottom:10px;"></a></p>
                            <p>TID is proud to support the Fred Hollows Foundation. Donate to the Foundation when you buy your TID policy and we will match your donation dollar for dollar. Together we can make a difference.</p>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
                
                
                
                <table class="row">
                  <tr>
                    <td class="wrapper last">

                      <table class="five columns">
                        <tr>
                          <td class="left-text-pad">

                            <table class="button">
                              <tr>
                                <td>
                                  <a href="http://www.travelinsurancedirect.com.au/cambodia-competition?utm_source=tid_au&utm_medium=email&utm_content=offer-hollow-cta&utm_campaign=giveaway-june2015-cambodia">Find out more</a>
                                </td>
                              </tr>
                            </table>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>

                

                <!-- container end below -->
              </td>
            </tr>
          </table>
          
          
          



{% endblock %}