{% layout "edm" %}
{% block title %}TID EDM{% endblock %}
{% block content %}

<style>
    /*  TID Quote Styles  */
    #quote-title { background-color: #00bae4;}
    #quote-header { background-color: #00bae4; padding-left:20px; padding-right:20px; padding-top:15px; text-align:center;}
    
    #quote-header h1 {font-size:38px; color:#ffffff; letter-spacing:-0.03em; text-align:center; line-height:40px; padding-bottom:30px;}
    #quote-header table.medium-button td {
      display: block;
      width: auto !important;
      text-align: center;
      background: #01b701;
      border: 1px solid #00bae4;
      color: #ffffff;
      padding: 14px 0;
    }
  table.medium-button td a {
    font-size:24px;
  }
    #quote-header table.button:hover td,
    #quote-header table.button:visited td,
    #quote-header table.button:active td {
      background: #00ce00 !important;
    }
    #quote-header table.medium-button {
    }
    #quote-header .cta {
      padding:40px;
    }
   .quote-dates {width:40px;}
   .quote-dates-space {width:20px;}
   .label-grey {color:#bcbcbc;}
   .price {color:#404040; border-top:1px solid #efefef;padding-top:20px;}
  .price span{color:#bcbcbc;font-size:16px;}
  .details-heading {margin-bottom:10px;}
</style>

          <!-- Content Area -->
          <table class="container content-area" id="quote">
            <tr>
              <td>

                <!-- content start -->
                
                
                
                <table class="row">
                  <tr>
                    <td class="last">
                      <table class="twelve columns">
                        <tr>
                          <td id="quote-header">
                            
                           <table class="ten columns" align="center">
                            <tr>
                              <td id="quote-title">
                                <a href="http://www.travelinsurancedirect.com.au/" alt="Save just a TID" title="Save just a TID" style=”font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #ffffff; font-style: italic; font-size: 30px; background-color:#00bae4” bgcolor="#00bae4"><img src="http://www.travelinsurancedirect.com.au/Media/Default/edm/email-quote-title.png" width="500" height="260" alt="Save just a TID" title="Save just a TID" style=”font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #ffffff; font-style: italic; font-size: 30px; background-color:#00bae4” bgcolor="#00bae4"></a>
                              </td>
                              <td class="expander"></td>
                            </tr>
                          </table> 
                            
                          <h1>Get cover for your next trip to Vietnam, Philipines, Fiji.</h1>

                          <table class="six columns">
                            <tr>
                              <td class="">
                                <table class="button medium-button">
                                  <tr>
                                    <td>
                                      <a href="http://www.travelinsurancedirect.com.au/campaigns/travel-scout">Buy Now</a>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                              <td class="expander"></td>
                            </tr>
                          </table>
                            
                          <table class="ten columns" align="center">
                            <tr>
                              <td id="quote-title">
                                <a href="http://www.travelinsurancedirect.com.au/"><img src="http://www.travelinsurancedirect.com.au/Media/Default/edm/email-quote-trustpilot.png" width="500" height="76" alt="TrustPilot Rating" title="TrustPilot Rating"></a>
                              </td>
                              <td class="expander"></td>
                            </tr>
                          </table>
                            
                            


                            
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                      <img src="http://www.travelinsurancedirect.com.au/Media/Default/edm/email-zigzag.png" width="580" height="20">
                    </td>
                  </tr>
                </table>

                <table class="row callout">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td>
                            
                            <h3 class="left-text-pad details-heading">Your saved quote for Vietnam, Philippines, Fiji.</h3>
                            
                            
                            
                            
                            
                            
                            
  <table class="row left-text-pad" style="margin-top:20px;">
  <tr>
    <td class="wrapper">

      <table class="six columns">
        <tr>
          <td class="">


              <table class="">
              <tr>
                <td class="quote-dates two sub-columns"><img src="http://www.travelinsurancedirect.com.au/Media/Default/edm/email-quote-dates.png" width="29" height="29"></td>
                <td class="five sub-columns"><span class="label-grey">Departure</span><br>27/07/2015</td>
                <td class="quote-return five sub-columns"><span class="label-grey">Return</span><br>27/07/2015</td>
                <td class="expander"></td>
              </tr>
              </table> 


          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
    <td class="wrapper last">

      <table class="six columns">
        <tr>
          <td class="">
            

              <table>
                <tr>
                  <td class="quote-dates two sub-columns"><img src="http://www.travelinsurancedirect.com.au/Media/Default/edm/email-quote-people.png" width="29" height="29"></td>
                  <td class="ten sub-columns"><span class="label-grey">Age of Travellers</span><br>40, 25</td>
                  <td class="expander"></td>                                        
                </tr>
              </table>

            
          </td>
          <td class="expander"></td>
        </tr>
      </table>

    </td>
  </tr>
</table>                          
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            <table class="twelve columns">
                            <tr>
                              <td class="left-text-pad right-text-pad"> 
                                <h3 class="price">$40.00<span>AUD</span></h3>
                              </td>
                            </tr>
                            </table>
                            

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      <a href="http://www.travelinsurancedirect.com.au/"><img src="http://www.travelinsurancedirect.com.au/Media/Default/edm/email-quote-tripwise.png" width="580" height="348" style="margin-bottom:20px;" alt="Save even more when you buy with Tripwise!" title="Save even more when you buy with Tripwise!"></a>
                      
                    </td>
                  </tr>
                </table>

                
                <table class="row">
                  <tr>
                    <td class="wrapper">
                      
                      <table class="ten columns">
                        <tr>
                          <td class="center left-text-pad right-text-pad">
                            <center>

                              <h2>Questions &amp; Assistance</h2>
                              <p>If you need some assistance or have any questions about your policy cover, please reply to this email or call us</p>

                            </center>
                          </td>
                        </tr>
                      </table>                    
                                
                    </td>
                  </tr>
                </table>

                    


                <table class="row">
                  <tr>
                    <td class="wrapper last">

                      <table class="five columns">
                        <tr>
                          <td class="left-text-pad">

                            <table class="button">
                              <tr>
                                <td>
                                  <a href="http://www.travelinsurancedirect.com.au/campaigns/travel-scout">Find out more</a>
                                </td>
                              </tr>
                            </table>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>

                

                <!-- container end below -->
              </td>
            </tr>
          </table>
          
          
          



{% endblock %}