{% block title %}Travel Insurance to Bali: From $22{% endblock %}
{% block content %}
<style>
.thesteps{
  margin-top:20px;  
}
.how_1 {
  background: url('/Media/Default/campaigns/june2015/how_1.png') no-repeat left 5px; 
  padding-left:70px;
}
.how_2 {
  background: url('/Media/Default/campaigns/june2015/how_2.png') no-repeat left 5px; 
  padding-left:70px;
}
.how_3 {
  background: url('/Media/Default/campaigns/june2015/how_3.png') no-repeat left 5px; 
  padding-left:70px;
}
.howintro {
  margin-top:-5px;
  font-size:16px;
  color:#777777;
}
.topintro {
  background: url('/Media/Default/campaigns/june2015/june2015_introbg.png') center center;
  border:1px solid #000;
    width:70%;
  margin-left:auto;
  margin-right:auto;
  padding:10px;
}
h4 {
  font-weight:100;
}
.campaign-header h1 {
  font-weight:100;
  
}
.abovequote {
  margin-bottom: 10px;
  margin-top: 20px;
}
  
#header.header-panel p {
  letter-spacing: normal;
}
  
  @media all and (min-width: 40em) {
#header {
    background: url('/Media/Default/campaigns/june2015/header_june2015_desktop.jpg') no-repeat center center #00bae4;
    background-size: cover;
  }

}
@media all and (max-width: 64em) {
#header {
    background: url('/Media/Default/campaigns/june2015/header_june2015_tablet.jpg') no-repeat center center #00bae4;
    background-size: cover;
  }

}
@media all and (max-width: 40em) {
#header {
    background: url('/Media/Default/campaigns/june2015/header_june2015_phone.jpg') no-repeat right center #00bae4;
    background-size: cover;
  }

}

</style>
<article class="content-item">
<div class="header-panel panel campaign-header" id="header">
  <div class="row">
    <div class="small-12 medium-12 large-12 column text-center">
      <h1 class="white">Win a trip for 2 to Cambodia!</h1>
      <div class="topintro"><h4 class="white">To enter make a donation when you buy your TID policy.<br>We’ll match every dollar you donate!</h4></div>
    </div>
  </div>
</div>
<div class="row">
    <div class="small-12 medium-12 large-12 column text-center">
      <h2 class="blue abovequote">Get a quote for your next trip</h2>
  </div>
</div>
  
<div class="content-panel content" id="campaign-qqw">
  <div class="row header">    
    
  <!--   TID QQWidget Container    -->

    <div class="row qqw-full-width blue-panel">
      <div class="small-12 column">

        <!--  Include QQWidget  -->
        {% include "qqw" %}

      </div> 
      <div class="benefits-bar blue left">

        <!--  Include Benefits Bar  -->
        {% include "benefits-bar" %}

      </div>  
    </div>

  <!-- QQW Container END -->    
    
  </div>
</div>
  
<div class="row 3steps">
  <div class="small-12 medium-12 large-4 column how_1">
    <h3 class="blue">Get a quote</h3>
    <p class="howintro">It’s quick an easy, see above</p>
  </div>
  <div class="small-12 medium-12 large-4 column how_2">
    <h3 class="blue">Give a little, help alot</h3>
    <p class="howintro">Make a small donation to the Fred Hollows Foundation when you purchase your TID policy.</p>
  </div>
  <div class="small-12 medium-12 large-4 column how_3">
    <h3 class="blue">Enter to win</h3>
    <p class="howintro">Tell us about a time you made a difference to someone’s life either on your travels or closer to home.  
</p>
  </div>
  <hr>
</div>
  
<div class="row">
  <div class="small-12 medium-12 large-12 column">
    <h2 class="blue">A life changing experience</h2>
    <h4 style="  margin-bottom: 30px;
  margin-top: -20px;">We are giving you and a friend the chance to go to Cambodia to witness firsthand the life changing work of the Fred Hollows Foundation. So when you make a small donation to a Fred Hollows project as you buy your TID travel insurance, we will match your donation, dollar for dollar.</h4>
  </div>
</div>
  
<div class="row">
  <div class="small-12 medium-12 large-6 column">
    <p><img src="/Media/Default/campaigns/june2015/fred.jpg" style="  margin-bottom: 5px;"/></p>
    <p>TID are proud supporters of the Fred Hollows Foundation in their quest to end avoidable blindness. Just $25 can help restore sight to one person, so your donation can really make a difference. Plus, TID will match your donation dollar for dollar.</p>
  </div>
    <div class="small-12 medium-12 large-6 column">
    <p><iframe src="https://player.vimeo.com/video/128704913?title=0&byline=0&portrait=0" width="540" height="304" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
    <p>We are giving you and a friend the chance to go to Cambodia to witness firsthand the life changing work of the Fred Hollows Foundation. So when you make a small donation to a Fred Hollows project as you buy your TID travel insurance, we will match your donation, dollar for dollar.</p>
  </div>
  <hr>
</div> 
  
<div class="row">
  <div class="small-12 medium-12 large-12 column">  
  <p>Terms and Conditions<br>
    The promotion is open to all Australian residents, over the age of 18 who purchase a Travel Insurance Direct travel insurance policy during the promotional period from 16 June - 31 July 2015 AEDT. Prize winners must be available to travel from 10 November – 18 November 2015. <a href="/campaigns/cambodia-competition-terms-conditions" target="_blank">Full terms and conditions apply.</a></p></div>
  <hr>
  </div>
  
  
<div class="content-panel content benefits-panel">  
  <!-- Include Benefits Panel Widget -->
  {% include "benefits-panel" %}  
</div>  
  
</article>

{% endblock %}