{% block content %}

<section class="socialquiz">

    <header class="socialquiz-header">
        <div class="socialquiz-headerHero header-panel blue-panel">
            <div class="row">
                <div class="small-12 columns">
                    <h1 class="socialquiz-headerTitle">What type of traveller are you?</h1>
                    <p class="socialquiz-headerCopy">Know your travel style? Take our quiz to find if you're really the traveller you think you are (and enter to win $200 flight vouchers with Virgin Australia!).</p>
                </div>
            </div>
        </div>
        <div id="sharetools-long">
            <div class="row">
              <div class="small-12 columns">
                <div id="socialarea">
                  <div id="sharedcount">
                    <div id="total">323</div>
                    <p>Shares</p>
                  </div>
                  <div id="share-icons">
                    <a class="facebook" target="_blank"><span>Share on Facebook</span>&#xf09a;</a>
                    <a class="twitter" target="_blank"><span>Share on Twitter</span>&#xf099;</a>
                    <a class="pinterest">&#xf231;</a>
                    <a class="gplus" target="_blank">&#xf0d5;</a>
                    <a class="linkedin" target="_blank">&#xf0e1;</a>
                    <a class="stumbleupon" target="_blank">&#xf1a4;</a>
                    <a class="plus"></a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </header>

    <section class="socialquiz-quiz row">

        <div class="Quiz js-quiz small-12 columns">
            <!-- quiz questions -->
            <form class="Quiz-inner js-quiz-inner">
                <!-- Q1 -->
                <div class="Quiz-question js-quiz-question slide_1" data-num="1">
                    <formstep class="Quiz-questionInner js-quiz-question-inner row">
                        <div class="row">
                            <legend class="Quiz-questionTitle small-12 medium-12 large-9 columns">Pick your luggage</legend>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_1" data-step="1" data-values="1|0|0|0|0|0">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-1-carry-on.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Carry-on only</span>
                                <span class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion01">
                                    <label class="Quiz-answerLabel" for="quizQuestion01"></label>
                                </span>
                            </div>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_2" data-step="1" data-values="0|1|0|0|0|0">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-1-hardcase.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Hard-shell suitcase</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion02">
                                    <label class="Quiz-answerLabel" for="quizQuestion02"></label>
                                </div>
                            </div>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_3" data-step="1" data-values="0|0|1|0|0|0">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-1-backpack.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Trusty backpack</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion03">
                                    <label class="Quiz-answerLabel" for="quizQuestion03"></label>
                                </div>
                            </div>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_4" data-step="1" data-values="0|0|0|1|0|0">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-1-brand.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Brand name</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion04">
                                    <label class="Quiz-answerLabel" for="quizQuestion04"></label>
                                </div>
                            </div>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_5" data-step="1" data-values="0|0|0|0|1|0">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-1-duffle.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Duffel bag</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion04">
                                    <label class="Quiz-answerLabel" for="quizQuestion04"></label>
                                </div>
                            </div>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_6" data-step="1" data-values="0|0|0|0|0|1">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-1-soft-suitcase.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Soft suitcase</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion04">
                                    <label class="Quiz-answerLabel" for="quizQuestion04"></label>
                                </div>
                            </div>
                        </div>
                    </formstep>
                </div>
                <!-- Q2 -->
                <div class="Quiz-question js-quiz-question slide_2 " data-num="2">
                    <formstep class="Quiz-questionInner js-quiz-question-inner row">
                        <div class="row">
                            <legend class="Quiz-questionTitle small-12 medium-12 large-9 columns">What are you most likely doing on the plane?</legend>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_1" data-step="2" data-values="1|0|0|0|0|0">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-2-sleep-economy.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Sleeping like this in Economy</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion05">
                                    <label class="Quiz-answerLabel" for="quizQuestion05"></label>
                                </div>
                            </div>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_2" data-step="2" data-values="0|1|0|0|0|0">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-2-eating.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Requesting more snacks</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion06">
                                    <label class="Quiz-answerLabel" for="quizQuestion06"></label>
                                </div>
                            </div>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_3" data-step="2" data-values="0|0|1|0|0|0">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-2-reading.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Reading</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion07">
                                    <label class="Quiz-answerLabel" for="quizQuestion07"></label>
                                </div>
                            </div>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_4" data-step="2" data-values="0|0|0|1|0|0">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-2-chatting.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Chatting with the person next to you</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion08">
                                    <label class="Quiz-answerLabel" for="quizQuestion08"></label>
                                </div>
                            </div>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_5" data-step="2" data-values="0|0|0|0|1|0">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-2-sleep-business.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Sleeping like this in Business</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion08">
                                    <label class="Quiz-answerLabel" for="quizQuestion08"></label>
                                </div>
                            </div>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_6" data-step="2" data-values="0|0|0|0|0|1">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-2-movies.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Watching your 4th movie</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion08">
                                    <label class="Quiz-answerLabel" for="quizQuestion08"></label>
                                </div>
                            </div>
                        </div>
                    </formstep>
                </div>
                <!-- Q3 -->
                <div class="Quiz-question js-quiz-question slide_3" data-num="3">
                    <formstep class="Quiz-questionInner js-quiz-question-inner row">
                        <div class="row">
                            <legend class="Quiz-questionTitle small-12 medium-12 large-9 columns">Pick a place to go</legend>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_1" data-step="3" data-values="1|0|0|0|0|0">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-3-italy.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Cinque Terre, Italy</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion09">
                                    <label class="Quiz-answerLabel" for="quizQuestion09"></label>
                                </div>
                            </div>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_2" data-step="3" data-values="0|1|0|0|0|0">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-3-peru.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Machu Piccu, Peru</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion10">
                                    <label class="Quiz-answerLabel" for="quizQuestion10"></label>
                                </div>
                            </div>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_3" data-step="3" data-values="0|0|1|0|0|0">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-3-africa.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Serengeti, Tanzania</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion11">
                                    <label class="Quiz-answerLabel" for="quizQuestion11"></label>
                                </div>
                            </div>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_4" data-step="3" data-values="0|0|0|1|0|0">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-3-croatia.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Dalmatian Coast, Croatia</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion12">
                                    <label class="Quiz-answerLabel" for="quizQuestion12"></label>
                                </div>
                            </div>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_5" data-step="3" data-values="0|0|0|0|1|0">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-3-turkey.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Grand Bazaar, Instanbul</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion12">
                                    <label class="Quiz-answerLabel" for="quizQuestion12"></label>
                                </div>
                            </div>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_6" data-step="3" data-values="0|0|0|0|0|1">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-3-spain.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Barcelona, Spain</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion12">
                                    <label class="Quiz-answerLabel" for="quizQuestion12"></label>
                                </div>
                            </div>
                        </div>
                    </formstep>
                </div>
                <!-- Q4 -->
                <div class="Quiz-question js-quiz-question slide_4" data-num="4">
                    <formstep class="Quiz-questionInner js-quiz-question-inner row">
                        <div class="row">
                            <legend class="Quiz-questionTitle small-12 medium-12 large-9 columns">Pick an Instagram filter</legend>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_1" data-step="4" data-values="1|0|0|0|0|0">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-4-crema.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Crema</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion13">
                                    <label class="Quiz-answerLabel" for="quizQuestion13"></label>
                                </div>
                            </div>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_2" data-step="4" data-values="0|1|0|0|0|0">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-4-valencia.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Valencia</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion14">
                                    <label class="Quiz-answerLabel" for="quizQuestion14"></label>
                                </div>
                            </div>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_3" data-step="4" data-values="0|0|1|0|0|0">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-4-x-pro.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">X-Pro II</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion15">
                                    <label class="Quiz-answerLabel" for="quizQuestion15"></label>
                                </div>
                            </div>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_4" data-step="4" data-values="0|0|0|1|0|0">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-4-none.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">I adjust my own settings, thanks.</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion15">
                                    <label class="Quiz-answerLabel" for="quizQuestion15"></label>
                                </div>
                            </div>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_5" data-step="4" data-values="0|0|0|0|1|0">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-4-inkwell.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Inkwell</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion15">
                                    <label class="Quiz-answerLabel" for="quizQuestion15"></label>
                                </div>
                            </div>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_6" data-step="4" data-values="0|0|0|0|0|1">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-4-rise.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Rise</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion15">
                                    <label class="Quiz-answerLabel" for="quizQuestion15"></label>
                                </div>
                            </div>
                        </div>
                    </formstep>
                </div>
                <!-- Q5 -->
                <div class="Quiz-question js-quiz-question slide_5 " data-num="5">
                    <formstep class="Quiz-questionInner js-quiz-question-inner row">
                        <div class="row">
                            <legend class="Quiz-questionTitle small-12 medium-12 large-9 columns">Pick something for lunch</legend>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_1" data-step="5" data-values="1|0|0|0|0|0">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-5-curry.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Curry</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion16">
                                    <label  class="Quiz-answerLabel"for="quizQuestion16"></label>
                                </div>
                            </div>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_2" data-step="5" data-values="0|1|0|0|0|0">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-5-tacos.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Tacos</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion17">
                                    <label class="Quiz-answerLabel" for="quizQuestion17"></label>
                                </div>
                            </div>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_3" data-step="5" data-values="0|0|1|0|0|0">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-5-steak.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Steak</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion18">
                                    <label class="Quiz-answerLabel" for="quizQuestion18"></label>
                                </div>
                            </div>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_4" data-step="5" data-values="0|0|0|1|0|0">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-5-pad-thai.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Pad Thai</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion18">
                                    <label class="Quiz-answerLabel" for="quizQuestion18"></label>
                                </div>
                            </div>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_5" data-step="5" data-values="0|0|0|0|1|0">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-5-cup-noodle.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Cup-o-noodles</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion18">
                                    <label class="Quiz-answerLabel" for="quizQuestion18"></label>
                                </div>
                            </div>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_6" data-step="5" data-values="0|0|0|0|0|1">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-5-cusushi.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Sushi</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion18">
                                    <label class="Quiz-answerLabel" for="quizQuestion18"></label>
                                </div>
                            </div>
                        </div>
                    </formstep>
                </div>
                <!-- Q6 -->
                <div class="Quiz-question js-quiz-question slide_6 " data-num="6">
                    <formstep class="Quiz-questionInner js-quiz-question-inner row">
                        <div class="row">
                            <legend class="Quiz-questionTitle small-12 medium-12 large-9 columns">What’s the first thing you’d do in NYC?</legend>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_1" data-step="6" data-values="1|0|0|0|0|0">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-6-cocktails.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Cocktails</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion19">
                                    <label class="Quiz-answerLabel" for="quizQuestion19"></label>
                                </div>
                            </div>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_2" data-step="5" data-values="0|1|0|0|0|0">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-6-cshop.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Shopping</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion20">
                                    <label class="Quiz-answerLabel" for="quizQuestion20"></label>
                                </div>
                            </div>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_3" data-step="5" data-values="0|0|1|0|0|0">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-6-bagel.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Bagels</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion21">
                                    <label class="Quiz-answerLabel" for="quizQuestion21"></label>
                                </div>
                            </div>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_3" data-step="5" data-values="0|0|0|1|0|0">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-6-central-park.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Central Park</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion21">
                                    <label class="Quiz-answerLabel" for="quizQuestion21"></label>
                                </div>
                            </div>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_3" data-step="5" data-values="0|0|0|0|1|0">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-6-brooklyn.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Brooklyn</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion21">
                                    <label class="Quiz-answerLabel" for="quizQuestion21"></label>
                                </div>
                            </div>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_3" data-step="5" data-values="0|0|0|0|0|1">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-6-highline.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Guggenheim Museum</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion21">
                                    <label class="Quiz-answerLabel" for="quizQuestion21"></label>
                                </div>
                            </div>
                        </div>
                    </formstep>
                </div>
                <!-- Q7 -->
                <div class="Quiz-question js-quiz-question slide_7" data-num="7">
                    <formstep class="Quiz-questionInner js-quiz-question-inner row">
                        <div class="row">
                            <legend class="Quiz-questionTitle small-12 medium-12 large-9 columns">Pick a souvenir</legend>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_1" data-step="7" data-values="1|0|0|0|0|0">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-7-snowglobe.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Barcelona snow globe</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion22">
                                    <label class="Quiz-answerLabel" for="quizQuestion22"></label>
                                </div>
                            </div>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_2" data-step="5" data-values="0|1|0|0|0|0">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-7-sombrero.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Sombrero</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion23">
                                    <label class="Quiz-answerLabel" for="quizQuestion23"></label>
                                </div>
                            </div>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_3" data-step="5" data-values="0|0|1|0|0|0">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-7-fan.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Oriental fan</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion24">
                                    <label class="Quiz-answerLabel" for="quizQuestion24"></label>
                                </div>
                            </div>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_3" data-step="5" data-values="0|0|0|1|0|0">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-7-bus.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">London bus</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion24">
                                    <label class="Quiz-answerLabel" for="quizQuestion24"></label>
                                </div>
                            </div>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_3" data-step="5" data-values="0|0|0|0|1|0">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-7-cat.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Waving kitty</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion24">
                                    <label class="Quiz-answerLabel" for="quizQuestion24"></label>
                                </div>
                            </div>
                        </div>
                        <div class="Quiz-answer js-quiz-answer small-6 medium-6 large-4 columns answ_3" data-step="5" data-values="0|0|0|0|0|1">
                            <div class="Quiz-answerInner">
                                <figure class="Quiz-answerImage">
                                    <img src="/Media/Default/campaigns/socialquiz/Q-7-camel.jpg">
                                </figure>
                                <span class="Quiz-answerTitle">Leather camel</span>
                                <div class="Quiz-answerCheck">
                                    <input type="checkbox" class="block_checkbox" id="quizQuestion24">
                                    <label class="Quiz-answerLabel" for="quizQuestion24"></label>
                                </div>
                            </div>
                        </div>
                    </formstep>
                </div>
            </form>
            <!-- / quiz questions -->

            <!-- hidden results button -->
            <div class="Quiz-check check_res">
                <button type="button" class="btn btn-success check_results">Check Results</button>
            </div>

            <!-- / quiz results -->
            <ul class="Quiz-result results_block row">
                <li class="small-12 columns Quiz-resultItem result_1">
                    <h2>The Eternal Backpacker</h2>
                    <img class="Quiz-resultImage" src="/Media/Default/campaigns/socialquiz/A-backpacker.jpg">
                    <p>
                        Your backpack is just a TID more tattered than your passport. You’re an eternal backpacker, chasing adventure from one continent to another. You’re a lone wolf, but you know how to rock up at a new place and make friends. For you, the road is life.
                    </p>
                    <span>Your travel hero: Alexander SuperTramp</span>
                </li>
                <li class="Quiz-resultItem result_2">
                    <h2>The Jetsetter</h2>
                    <img class="Quiz-resultImage" src="/Media/Default/campaigns/socialquiz/A-jetsetter.jpg">
                    <p>
                        You work hard so you can take make the most of your annual leave and get out and see just a TID bit of the world. From the great American adventure to ski seasons and Euro trips, you embrace every opportunity that comes your way. You haven’t been everywhere yet, but it’s on your list.
                    </p>
                    <span>Your travel hero: Michael Palin</span>
                </li>
                <li class="Quiz-resultItem result_3">
                    <h2>The Luxury Traveller</h2>
                    <img class="Quiz-resultImage" src="/Media/Default/campaigns/socialquiz/A-luxury-traveller.jpg">
                    <p>
                        Business class flights, 5 star hotels, VIP lounges and just a TID bit of brand name shopping - you enjoy the best of the best when you travel. You plan in advance so you can insure the best table at the best restaurant in town or the best seats at the best new Broadway show. You travel in style. No doubt about it.
                    </p>
                    <span>Your travel hero: Victoria Beckham</span>
                </li>
                <li class="Quiz-resultItem result_4">
                    <h2>The Voluntourist</h2>
                    <img class="Quiz-resultImage" src="/Media/Default/campaigns/socialquiz/A-voluntourist.jpg">
                    <p>
                        You travel the world so you can give just a TID back. Whether it’s helping rescue Orangutans in Borneo or visiting orphanages in China, you have a servant heart that just wants to help. The best travel mementos you have are the memories you’ve taken away from the projects you’ve been involved in.
                    </p>
                    <span>Your travel hero: Dian Fossey</span>
                </li>
                <li class="Quiz-resultItem result_5">
                    <h2>The Foodie</h2>
                    <img class="Quiz-resultImage" src="/Media/Default/campaigns/socialquiz/A-foodie.jpg">
                    <p>
                        From dining at Michelin star restaurants to eating scorpions at the street market, you’re always just a TID hungry and keen for a culinary challenge. When it comes to making tough travel choices, you do what your gut tells you (literally).
                    </p>
                    <span>Your travel hero: Anthony Bourdain</span>
                </li>
                <li class="Quiz-resultItem result_6">
                    <h2>The Spiritual Seeker</h2>
                    <img class="Quiz-resultImage" src="/Media/Default/campaigns/socialquiz/A-spitualist.jpg">
                    <p>
                        You’re on both a physical and figurative journey to discovering just a TID more about yourself. Your holidays are a time to connect with your centre, practice mindfulness and search for inner peace. From ashrams in India to Cambodian temples, your trips are about taking time out, and as much of it as it takes.
                    </p>
                    <span>Your travel hero: Elizabeth Gilbert</span>
                </li>
            </ul>
        </div>
    </section>
    <!-- / quiz results -->

    <section class="socialquiz-competition js-comp-form">
        <div class="row">
            <div class="small-12 medium-2 columns">
                <img class="socialquiz-competitionHeadImage" src="/Media/Default/campaigns/socialquiz/comp-palm-tree.png">
            </div>
            <div class="small-12 medium-10 columns">
                <h2>
                    Win $200 flight vouchers with Virgin Australia!
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <p>Now you know what type of traveller you are, it’s time to kick start your next adventure!</p>
                <p>To be in the running to WIN 1 x 3 $200 flights vouchers with Virgin Australia, tell us in 20 words or less who inspires you to travel.</p>
                <form class="socialquiz-competitionForm">
                    <div class="row">
                        <span class="small-12 medium-6 columns">
                            <label for="fullName">Full Name:</label>
                        </span>
                        <span class="small-12 medium-6 columns">
                            <input id="fullName" type="text">
                        </span>
                    </div>
                    <div class="row">
                        <span class="small-12 medium-6 columns">
                            <label for="email">Email Address:</label>
                        </span>
                        <span class="small-12 medium-6 columns">
                            <input id="email" type="text">
                        </span>
                    </div>
                    <div class="row">
                        <span class="small-12 medium-6 columns">
                            <label for="inspireCopy">Who inspires you to travel and why?</label>
                            <small>(In 20 words or less)</small>
                        </span>
                        <span class="small-12 medium-6 columns">
                            <textarea id="inspireCopy"></textarea>
                        </span>
                    </div>
                    <div class="row">
                        <span class="small-12 medium-6 columns">
                            <label for="nextTrip">When’s your next adventure?</label>
                        </span>
                        <span class="small-12 medium-6 columns">
                            <input id="nextTrip" type="date">
                        </span>
                    </div>
                    <div class="row">
                        <span class="small-12 medium-6 medium-offset-6 columns">
                            <input id="acceptTerms" type="checkbox">
                            <label for="acceptTerms">I accept the <a href="#">Terms and Conditions</a></label>
                        </span>
                    </div>
                    <div class="row">
                        <span class="small-12 medium-6 medium-offset-6 columns">
                            <button class="socialquiz-competitionCta button green medium">Enter to win flights</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </section>

</section>

<script type="text/javascript">

    jQuery(document).ready( function($){

        var is_completed = 0;
        // click block
        $('.js-quiz .js-quiz-answer').click( function(){
            if( is_completed == 0 ){
            // drop settings
            var pnt = $(this).parent('.js-quiz-question-inner');
            $( '.js-quiz-answer', pnt ).removeClass('checked_block');
            $( '.block_checkbox', pnt ).attr( 'checked', false );

            // add new one
            if( $( '.block_checkbox', this ).attr( 'checked' ) ){
                $( '.block_checkbox', this ).attr( 'checked', false );
                $(this).removeClass('checked_block');

            }
            else{
                $( '.block_checkbox', this ).attr( 'checked', 'checked' );
                $(this).addClass('checked_block');
                var parent_point = $(this).parents('.js-quiz-question');

                console.log( parent_point.next() );

                if( parent_point.next().hasClass('js-quiz-question')  ){
                    $('html, body').animate({
                        scrollTop: parent_point.next().offset().top - 50
                    }, 1000);
                }

                //var next_el = $('.parent_point').next('.Quiz-question');
                //console.log( next_el.html() );
                //$( next_el ).css('background', '#ff0');

            }

            $( '.js-quiz-answer', pnt ).each(function(){
                if( $(this).hasClass('checked_block')  ){
                    $(this).removeClass('is-opaque');
                }else{
                    $(this).addClass('is-opaque');
                }
            })


            check_test_complete();
            }
        })
        $('.js-quiz .block_checkbox').click( function(e){
            if( is_completed == 0 ){
                $(this).parent('.js-quiz-answer').click();
            }else{
                e.preventDefault();
            }
        })

        // check if test is complete
        function check_test_complete(){
            var counter = 0;
            $('.js-quiz .js-quiz-question').each(function(){

                var id = $(this).attr('data-num');
                var slide_pnt = $('.slide_'+id);
                $( '.checked_block', slide_pnt).each(function(){

                    if( $(this).hasClass('checked_block') == true ){
                        counter++;
                    }
                })
            })

            if( $('.js-quiz .js-quiz-question').length == counter ){
                //$('.check_res').fadeIn();
                $('.js-quiz .check_results').click();
                    $('html, body').animate({
                        scrollTop: $('.js-quiz .results_block').offset().top - 50
                    }, 1000);
            }
        }

        // check results
        $('.js-quiz .check_results').click(function(){
            var this_arr = new Array();
            var counter = 1;
            var res = new Array();
            var cnt;
            $('.js-quiz .js-quiz-inner .checked_block').each(function(){
                cnt = $(this).attr('data-values').split('|').length;
                this_arr = $(this).attr('data-values').split('|') ; //.split('|')
                if( counter == 1 ){
                    for ( var i = 0; i < cnt; i++ ) {
                        res[i] = parseInt( this_arr[i] );
                    }
                }else{
                    for ( var i = 0; i < cnt; i++ ) {
                        res[i] = parseInt( res[i] ) + parseInt( this_arr[i] );
                    }
                }
                counter++;
            })

            var maxValueInArray = Math.max.apply(Math, res  );

            var out = 0;
            for ( var i = 0; i < cnt; i++ ) {
                if( res[i] == maxValueInArray && out == 0 ){
                    var num = i+1;
                    $('.result_'+num).fadeIn();
                    $('.js-comp-form').fadeIn();
                    $('.top_adsense, .bottom_adsense').removeClass('hide');
                    out = 1;
                    is_completed = 1;
                }
            }
        })

    }) // global end

</script>

{% endblock %}