{% block layout %}/assets/css/socialquiz-leadgen.css{% endblock %}
{% block title %}Why choose TID?{% endblock %}
{% block content %}

<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.sync.bootstrap.min.js"></script>

<section class="socialquiz-leadgen">
	<div class="socialquiz-leadgen-hero Hero">
    <div class="Hero-inner row">
      <div class="small-12 column">
        <h1 class="socialquiz-leadgen-title Hero-copy">Why choose TID?</h1>
        <h2 class="socialquiz-leadgen-subTitle Hero-copy">On the hunt for Travel insurance?<br/>TID have you covered.</h2>
      </div>
    </div>
  </div>
  <div id="sharetools-long">
    <div class="row">
      <div class="small-12 columns">
        <div id="socialarea">
          <div id="sharedcount">
            <div id="total"></div>
            <p>Shares</p>
          </div>
          <div id="share-icons">
            <a class="facebook socialicon" target="_blank"><span>Share on Facebook</span>&#xf09a;</a>
            <a class="twitter socialicon" target="_blank"><span>Share on Twitter</span>&#xf099;</a>
            <a class="pinterest socialicon">&#xf231;</a>
            <a class="gplus socialicon" target="_blank">&#xf0d5;</a>
            <a class="linkedin socialicon" target="_blank">&#xf0e1;</a>
            <a class="stumbleupon socialicon" target="_blank">&#xf1a4;</a>
            <a class="plus"></a>
          </div>
          <div class="trustpilot-widget" data-locale="en-AU" data-template-id="5419b732fbfb950b10de65e5" data-businessunit-id="5500023c0000ff00057df92a" data-style-height="20px" data-style-width="100%" data-theme="light">
				    <a href="https://au.trustpilot.com/review/travelinsurancedirect.com.au" target="_blank">Trustpilot</a>
					</div>
        </div>
      </div>
    </div>
  </div>
  <div class="socialquiz-leadgen-content-header row">
  	<div class="small-12 columns">
  		<h2 class="blue">10 reasons to choose TID</h2>
  		<h4>From our 24/7 emergency assistance to handy travel essentials that make you a savvier traveller, here are 10 reasons you should choose Travel Insurance Direct.</h4>
  	</div>
  </div>
  <div class="socialquiz-leadgen-content row">
  	<div class="socialquiz-leadgen-content-item socialquiz-leadgen-content-item-australian-owned small-12 medium-6 columns">
  		<h4>We're Australian owned and operated</h4>
  		<p>We're proud as punch to be 100% Australian owned and operated. We're underwritten at Lloyds and everything from our customer service team to our claims department is managed in-house in sunny Sydney, Australia.</p>
  	</div>
  	<div class="socialquiz-leadgen-content-item socialquiz-leadgen-content-item-10years small-12 medium-6 columns">
  		<h4>We've been around for 10 years</h4>
  		<p>We've assisted a lot of travellers in the decade we've been in business, helping over one million Australians explore the world.</p>
  	</div>
  </div>
  <div class="socialquiz-leadgen-content row">
  	<div class="socialquiz-leadgen-content-item socialquiz-leadgen-content-item-outstanding-value small-12 medium-6 columns">
  		<h4>We offer outstanding value</h4>
  		<p>We continue to receive outstanding feedback from our customers who have some pretty good things to say about our value for money.</p>
  	</div>
  	<div class="socialquiz-leadgen-content-item  socialquiz-leadgen-content-item-coverage small-12 medium-6 columns">
  		<h4>Receive top-notch coverage</h4>
  		<p>Our policies are designed to help you out when things go just a TID wrong. Should you need medical help, get jipped by a pickpocket, or even run into a spot of bad weather, we have you covered.</p>
  	</div>
  </div>
  <div class="socialquiz-leadgen-content row">
  	<div class="socialquiz-leadgen-content-item socialquiz-leadgen-content-item-emergency-assistance small-12 medium-6 columns">
  		<h4>Trust in 24/7 Emergency Assistance</h4>
  		<p>If you run into serious trouble on your travels, our in-house emergency assistance team are here to help. Call, email, or even send a tweet, and our team will be in touch as soon as possible.</p>
  	</div>
  	<div class="socialquiz-leadgen-content-item socialquiz-leadgen-content-item-tripwise small-12 medium-6 columns">
  		<h4>Travel smarter with Tripwise</h4>
  		<p>Find out everything you need to know on the go with TID's travel app, Tripwise. Access your policy, travel alerts, and helpful information about your destination from your smartphone.</p>
  	</div>
  </div>
  <div class="socialquiz-leadgen-content row">
  	<div class="socialquiz-leadgen-content-item socialquiz-leadgen-content-item-travelmoney-card small-12 medium-6 columns">
  		<h4>Buy big with TID Travel Money Card</h4>
  		<p>Hey, big spender! Accessing your money overseas has never been easier than with TID Travel Money Card. Load before you go with up to 10 different currencies. <br/><a href="/tid-travel-money">Get a TID Travel Money Card!</a></p>
  	</div>
  	<div class="socialquiz-leadgen-content-item socialquiz-leadgen-content-item-amt small-12 medium-6 columns">
  		<h4>Get regular coverage with an Annual Multi Trip policy</h4>
  		<p>Travel often? We make it super easy with an Annual Multi Trip policy which allows you the same level of cover all year round.</p>
  	</div>
  </div>
  <div class="socialquiz-leadgen-content row">
  	<div class="socialquiz-leadgen-content-item socialquiz-leadgen-content-item-fred-hollows small-12 medium-6 columns">
  		<h4>Make a difference with the Fred Hollows Foundation</h4>
  		<p>By making a micro-donation with the Footprints Network each time you buy a policy with TID, you can help support the life-changing work of the Fred Hollows Foundation.</p>
  	</div>
  	<div class="socialquiz-leadgen-content-item socialquiz-leadgen-content-item-travellers small-12 medium-6 columns">
  		<h4>We're a team of travellers</h4>
  		<p>Most imporantly, we're just a bunch of passionate travellers who, like you, have been bitten by the travel bug. We're committed to making sure you have a memorable trip (for all the right reasons). If you have a question, or a crackin' travel tale, we want to hear it.</p>
  	</div>
  </div>

  <!--Quick Quote Widget goes here-->
</section>

<script>
jQuery.sharedCount = function(url, fn) {
 url = encodeURIComponent(url || location.href);
 var domain = "//free.sharedcount.com/"; /* SET DOMAIN */
 var apikey = "8e4b7187bcfca463ceeca1577105f710bf47edd1" /*API KEY HERE*/
 var arg = {
  data: {
   url : url,
   apikey : apikey
  },
  url: domain,
  cache: true,
  dataType: "json"
 };
 if ('withCredentials' in new XMLHttpRequest) {
  arg.success = fn;
 }
 else {
  var cb = "sc_" + url.replace(/\W/g, '');
  window[cb] = fn;
  arg.jsonpCallback = cb;
  arg.dataType += "p";
 }
 return jQuery.ajax(arg);
};

jQuery(document).ready(function($){
 var targetUrl = "http://" + location.host + location.pathname;

 $.sharedCount(targetUrl, function(data){
  var totalShares = data.Twitter + data.Facebook.like_count + data.GooglePlusOne + data.Facebook.share_count + data.Pinterest + data.LinkedIn + data.StumbleUpon;
  if (totalShares <= 20) {
   totalShares = 21;
  }
  $("#tweetscount").text(data.Twitter);
  $("#likescount").text(data.Facebook.like_count);
  $("#facebooksharecount").text(data.Facebook.share_count);
  $("#plusonescount").text(data.GooglePlusOne);
  $("#stumbleuponcount").text(data.StumbleUpon);
  $("#pintrestcount").text(data.Pinterest);
  $("#linkedincount").text(data.LinkedIn);
  $("#total").text(totalShares);
  $("#sharedcount").fadeIn();

 });
});
</script>

<script>

  // Build the target srcs for the icons on click.
  var socialMedialUrl          = window.location;

  var facebookParamU           = "http://www.worldnomads.com/competitions/trip-or-treat";

  var twitterParamText         = "Enter the @WorldNomads competition for a chance to win a spine-tingling trip. http://www.worldnomads.com/competitions/trip-or-treat #triportreat";

  var pinParamDescription      = "Win a Trip or Treat for 2 this Halloween";
  var pinParamMedia            = "http://www.worldnomads.com/Media/Default/Competitions/trip-or-treat/Share/WN-Trip-or-treat-Pinterest-600x400-share.jpg";

  var linkedParamTitle         = "Win a Trip or Treat for 2 this Halloween";
  var linkedParamDescription   = "Check out the @WorldNomads #TripOrTreat contest for a chance to win a @Intrepid spine-tingling trip & fly with @BootsnAll. http://www.worldnomads.com/competitions/trip-or-treat";

  $(function() {
    var $plus = $(".plus");
    var $toggleableButtons = $(".pinterest, .gplus, .linkedin, .stumbleupon").hide();
    $plus.on("click", function() {
      var $this = $(this);
      $toggleableButtons.toggle();
      $plus.toggleClass("open");
    });
  });

  $(function() {
    var $si = $(".socialicon");
    var targetUrl = "";
    $si.on("click", function() {
      var $this = $(this);
      if ($this.hasClass("facebook")) {
        targetUrl = "http://www.facebook.com/share.php?u=" + facebookParamU;
        window.open(targetUrl, 'name', 'width=600,height=400');
      }
      else if ($this.hasClass("twitter")) {
        targetUrl = "https://twitter.com/intent/tweet?text=" + twitterParamText;
        window.open(targetUrl, 'name', 'width=600,height=400');
      }
      else if ($this.hasClass("pinterest")) {
        targetUrl = "http://pinterest.com/pin/create/button?description=" + pinParamDescription + "&media=" + pinParamMedia; + "&url=" + socialMedialUrl;
        window.open(targetUrl, 'name', 'width=755,height=400,scrollbars=no');
      }
      else if ($this.hasClass("gplus")) {
        targetUrl = "https://plus.google.com/share?url=" + socialMedialUrl;
        window.open(targetUrl, 'name', 'width=600,height=400');
      }
      else if ($this.hasClass("linkedin")) {
        targetUrl = "https://www.linkedin.com/shareArticle?mini=true&url=" + socialMedialUrl + "&title=" + linkedParamTitle + "&summary=" + linkedParamDescription;
        window.open(targetUrl, 'name', 'width=600,height=400');
      }
      else if ($this.hasClass("stumbleupon")) {
        targetUrl = "http://www.stumbleupon.com/badge/?url=" + socialMedialUrl;
        window.open(targetUrl, 'name', 'width=600,height=400');
      }
    });
  });
</script>

{% endblock %}