{% block layout %}/assets/css/easter16-schoolholiday.css{% endblock %}
{% block title %}10% OFF: Hopping out of town this Easter{% endblock %}
{% block content %}

<meta property="og:url" content="https://www.travelinsurancedirect.com.au/campaigns/school-holiday-offer?campaign=tideaster" />
<meta property="og:title" content="Heading away for school holidays?" />
<meta property="og:description" content="Get 10% off your travel insurance with TID" />
<meta property="og:image" content="https://www.travelinsurancedirect.com.au/Media/Default/campaigns/schoolholiday/Holidays-Share-Facebook.png" />

<section class="easter16 easter16-school">
    <div class="Hero">
        <div class="Hero-inner row">
            <div class="small-12 column">
                <h1 class="easter16-title Hero-copy">10%<span class="easter16-titleDetail">*</span> Off</h1>
                <h2 class="easter16-subTitle Hero-copy">Hopping out of town this Easter?</h2>
            </div>
        </div>
    </div>
    <div id="sharetools-long">
        <div class="row">
            <div class="small-12 columns">
                <div id="socialarea">
                    <div id="sharedcount">
                        <div id="total"></div>
                        <p>Shares</p>
                    </div>
                    <div id="share-icons">
                        <a class="socialicon facebook" target="_blank"><span>Share on Facebook</span>&#xf09a;</a>
                        <a class="socialicon twitter" target="_blank"><span>Share on Twitter</span>&#xf099;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="easter16-content row">
        <div class="small-12 column">
            <h3 class="easter16-contentTitle">Get a quote now and save 10%* on your travel insurance, just in time for Easter.</h3>
        </div>
    </div>
</section>

<!-- Quick Quote Widget goes here -->

<section class="easter16">
    <div class="row">
        <div class="small-12 column">
            <h4 class="easter16-contentTitle-wrapper easter16-contentTitle">
                <span class="easter16-contentIcon"> </span>
                <span>Travel often? Save time and money with <a href="">10%* off an annual multi-trip</a> travel insurance policy</span>
            </h4>
            <div class="easter16-details">
                <strong class="easter16-contentCopy">* Terms and conditions</strong>
                <p class="easter16-contentCopy">10% discount offer valid from Tuesday 29 March to 11.59pm Friday 8 April AEDT. The discount is automatically applied when getting a quote. Discount applies to base premium only. Additional options such as specified items cannot be discounted. These options or cover which can be purchased for an additional premium include cover for pre-existing medical conditions, extra cover for specified items, increased cover for rental vehicle excess, removing the policy excess and charitable donations made.</p>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
  $.sharedCount = function(url, fn) {
    url = encodeURIComponent(url || location.href);
    var domain = "//free.sharedcount.com/";
    var apikey = "8e4b7187bcfca463ceeca1577105f710bf47edd1"
    var arg = {
      data: {
        url : url,
        apikey : apikey
      },
        url: domain,
        cache: true,
        dataType: "json"
    };
    if ('withCredentials' in new XMLHttpRequest) {
        arg.success = fn;
    }
    else {
        var cb = "sc_" + url.replace(/\W/g, '');
        window[cb] = fn;
        arg.jsonpCallback = cb;
        arg.dataType += "p";
    }
    return jQuery.ajax(arg);
  };

  $(document).ready(function($){
    $.sharedCount(location.href, function(data){
      var totalShares = data.Twitter + data.Facebook.share_count;
      if (totalShares <= 20) {
        totalShares = 21;
      }
      $("#total").text(totalShares);
    });
  });
</script>

<script type="text/javascript">
  var socialMedialUrl          = window.location;
  var facebookParamU           = "http://bit.ly/1Su2Fz1";
  var twitterParamText         = "Heading%20away%20for%20school%20holidays?%20Save%2010%25%20on%20your%20TID%20travel%20insurance%20%E2%80%93%20http%3A//bit.ly/1Su2Fz1";

  $(function() {
    var $si = $(".socialicon");
    var targetUrl = "";
    $si.on("click", function() {
      var $this = $(this);
      if ($this.hasClass("facebook")) {
        targetUrl = "http://www.facebook.com/share.php?u=" + facebookParamU;
        window.open(targetUrl);
      }
      else if ($this.hasClass("twitter")) {
        targetUrl = "https://twitter.com/home?status=" + twitterParamText;
        window.open(targetUrl);
      }
      else {
        return;
      }
    });
  });
</script>

{% endblock %}