{% block title %}Travel Insurance Direct{% endblock %}
{% block content %}

<style type="text/css">
  .campaign-hero-bg {
      background-image: url('/Media/Default/campaigns/july16/july16-single-herobg.jpg');
      background-position: center center;
      background-size: cover;
  }
  .campaign-sub-title {
    text-align: center;
    margin-bottom: 20px;
  }
  .Hero-inner {
    min-height: 320px;
  }
  .campaign-hero-banner::after {
    display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 67px;
      height: 90px;
      background-image: url('/Media/Default/campaigns/july16/campaign-banner-10off.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      content: '';
  }
  @media (min-width: 500px) {
    .campaign-hero-banner::after {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 86px;
      height: 113px;
      background-image: url('/Media/Default/campaigns/july16/campaign-banner-10off.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      content: '';
    }
  }
  @media (min-width: 1024px) {
    .campaign-hero-banner::after {
      width: 134px;
      height: 180px;
    }
  }
</style>

<div class="campaign">
    <section class="campaign-hero Hero campaign-hero-bg">
        <div class="row">
            <div class="small-12 column">
                <div class="Hero-inner ">
                    <div class="Hero-content campaign-hero-banner">
                        <h1 class="Hero-title Hero-copy">Escape the winter chill</h1>
                        <p class="Hero-intro Hero-copy">Get 10%* off your travel insurance</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class=”row”>
  <div class="small-12 medium-12 large-12 column campaign-sub-title">
    <h3>Get a quote below and save 10%*</h3>
  </div>
</div>

<!-- ******* QQC GOES HERE ******* -->

<div class="campaign">
    <div class="campaign-fineprint row">
        <div class="small-12 column">
            <a href="https://www.travelinsurancedirect.com.au/pds"><small class="campaign-fineprint-detail">Read the PDS before buying</small></a>
        </div>
    </div>
    <section class="campaign-testimonials row">
        <div class="campaign-testimonials-slider small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns">
            <ul data-orbit>
                <li>
                    <div>
                        <h3 class="campaign-testimonials-title">Good coverage &amp; excellent service for a good price</h3>
                        <p>We found the cover to be very comprehensive and competitively priced and the service both pre and post travel and claim was excellent.</p>
                        <small class="campaign-testimonials-author">Carol</small>
                        <div class="trustpilot-widget" data-locale="en-US" data-template-id="5406e65db0d04a09e042d5fc" data-businessunit-id="5500023c0000ff00057df92a" data-style-height="28px" data-style-width="270px" data-theme="light">
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <h3 class="campaign-testimonials-title">TID is the Best forget about the Rest</h3>
                        <p>Great price and cover. Easy to communicate with and very prompt settlement of our claim. Will use TID always for all my travel insurance. They are fabulous!!!</p>
                        <small class="campaign-testimonials-author">Anna</small>
                        <div class="trustpilot-widget" data-locale="en-US" data-template-id="5406e65db0d04a09e042d5fc" data-businessunit-id="5500023c0000ff00057df92a" data-style-height="28px" data-style-width="270px" data-theme="light">
                        </div>
                    </div>
                </li>
                <li>
                    <div>
                        <h3 class="campaign-testimonials-title">TID - big tick from us</h3>
                        <p>Taking out the insurance was easy and unfortunately we needed to claim. When we did the process was easy and the company's website easy to follow. I would definitely recommend TID, I would definitely use it again.</p>
                        <small class="campaign-testimonials-author">Andrew</small>
                        <div class="trustpilot-widget" data-locale="en-US" data-template-id="5406e65db0d04a09e042d5fc" data-businessunit-id="5500023c0000ff00057df92a" data-style-height="28px" data-style-width="270px" data-theme="light">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="campaign-features">
        <div class="row">
            <div class="medium-12 large-10 large-offset-1 columns">
                <h2 class="campaign-features-title">TID Cover - at a glance...</h2>
                <ul class="campaign-features-list">
                    <li>Unlimited medical cover overseas &amp; 24/7 emergency assistance </li>
                    <li>Unlimited cancellation for your trip Cover for your camera, phone, laptop &amp; luggage up to $12,000</li>
                    <li>Rental car excess up to $4000, saving you money when you rent a car</li>
                    <li>Cruises already included so no need to purchase special cover</li>
                    <li>Automatic cover for over 40 pre-existing conditions</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="campaign-promos">
        <div class="row">
            <div class="small-12 column">
                <h2 class="campaign-promos-title">Get travel smarts in your pocket</h2>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-6 columns">
                <img class="campaign-promos-tripwiseImg" src="/Media/Default/campaigns/midyear16/tid-midyear16-tripwise.jpg">
                <h3>Tripwise – #1 Mobile App</h3>
                <p>Our top-rated travel insurance app is your clever travel companion. It puts your policy details, emergency contacts and destination travel tips within easy reach. With our in-app purchase, you can even buy your next policy on the way to the airport.</p>
            </div>
            <div class="small-12 medium-6 columns">
                <img class="campaign-promos-travelmoneyImg" src="/Media/Default/campaigns/midyear16/tid-midyear16-travelmoney.jpg">
                <h3>TID’s Travel Money Card</h3>
                <p>With no upfront card costs or hidden fees, TID’s Travel Money Card makes your money go further. It locks in exchange rates when you load and allows you to spend in local currency so you don’t get hit with transaction or currency conversion fees when you make purchases or withdraw cash at ATMs.</p>
            </div>
        </div>
    </section>
    <div class="campaign-terms row">
        <div class="small-12 column">
            <small>Travel Insurance Direct is No.1 most visited online travel insurance website in Australia from January - March 2016 according to similarweb.com. Similarweb.com data is based on tracking of internet traffic.</small>
        </div>
      </div>
      <div class="campaign-terms row">
        <div class="small-12 column">
            <small>*Terms and conditions apply. 10% discount offer valid to 31 July 2016. The discount is automatically applied when getting a quote. Discount applies to base premium only. Additional options such as specified items cannot be discounted. These options or cover which can be purchased for an additional premium include cover for pre-existing medical conditions, extra cover for specified items, increased cover for rental vehicle excess, removing the policy excess and charitable donations made.</small>
        </div>
    </div>

{% endblock %}
