{% block layout %}/assets/css/travel-checklist.css{% endblock %}
{% block title %}TID's travel checklist{% endblock %}
{% block content %}

<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.sync.bootstrap.min.js"></script>

<section class="travel-checklist">
	<div class="travel-checklist-hero Hero">
    <div class="Hero-inner row">
      <div class="small-12 column">
        <h1 class="travel-checklist-title Hero-copy">TID's travel checklist</h1>
        <h4 class="travel-checklist-subTitle Hero-copy">Know the essentials before you<br/>check in at the airport.</h4>
      </div>
    </div>
  </div>
  <div id="sharetools-long">
    <div class="row">
      <div class="small-12 columns">
        <div id="socialarea">
          <div id="sharedcount">
            <div id="total"></div>
            <p>Shares</p>
          </div>
          <div id="share-icons">
            <a class="facebook socialicon" target="_blank"><span>Share on Facebook</span>&#xf09a;</a>
            <a class="twitter socialicon" target="_blank"><span>Share on Twitter</span>&#xf099;</a>
            <a class="pinterest socialicon">&#xf231;</a>
            <a class="gplus socialicon" target="_blank">&#xf0d5;</a>
            <a class="linkedin socialicon" target="_blank">&#xf0e1;</a>
            <a class="stumbleupon socialicon" target="_blank">&#xf1a4;</a>
            <a class="plus"></a>
          </div>
          <div class="trustpilot-widget" data-locale="en-AU" data-template-id="5419b732fbfb950b10de65e5" data-businessunit-id="5500023c0000ff00057df92a" data-style-height="20px" data-style-width="100%" data-theme="light">
				    <a href="https://au.trustpilot.com/review/travelinsurancedirect.com.au" target="_blank">Trustpilot</a>
					</div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
  	<div class="travel-checklist-content row">
	  	<div class="travel-checklist-content-item small-12 medium-6 columns">
	  		<input type="checkbox" id="passport" name="passport">
	  		<label for="passport">Pack your passport</label>
	  		<p>Firstly, and most importantly, track down your passport. Double check you have more than 6 months validity and put it somewhere safe. Like in your carry-on bag.</p>
	  	</div>
	  	<div class="travel-checklist-content-item packing small-12 medium-6 columns">
	  		<input type="checkbox" id="packing" name="packing">
	  		<label for="packing">Start packing</label>
	  		<p>Now for the fun part! Start by double checking the weather to make sure you're packing for the right conditions, as well as your flight carrier's weight allowance. Remember the golden rule - take half the clothes and double the money. Use our essential packing list as a guide.</p>
	  	</div>
	  </div>
	  <div class="travel-checklist-content row">
	  	<div class="travel-checklist-content-item travel-insurance small-12 medium-6 columns">
	  		<input type="checkbox" id="travel-insurance" name="travel-insurance">
	  		<label for="travel-insurance">Buy your travel insurance</label>
	  		<p>If you haven't done so already, head to TID and buy your travel insurance. It's a super simple online purchase that could save you just a TID down the track.<br/><a href="#">Get cover instantly!</a></p>
	  	</div>
	  	<div class="travel-checklist-content-item medical-checks small-12 medium-6 columns">
	  		<input type="checkbox" id="medical-check" name="medical-check">
	  		<label for="medical-check">Update your vaccinations or medical checks</label>
	  		<p>Need a vaccination where your'e going? Pay a visit to your doctor if you're unsure whether you need any jabs pre-departure.</p>
	  	</div>
	  </div>
	  <div class="travel-checklist-content row">
	  	<div class="travel-checklist-content-item small-12 medium-6 columns">
	  		<input type="checkbox" id="copies" name="copies">
	  		<label for="copies">Make copies of your travel documents</label>
	  		<p>Forget the photocopier. Grab your smartphone and take photos of your travel documents, including the information page of your passport, travel visas, travel insurance documents, and your birth certificate.</p>
	  	</div>
	  	<div class="travel-checklist-content-item small-12 medium-6 columns">
	  		<input type="checkbox" id="flight-status" name="flight-status">
	  		<label for="flight-status">Check your flight status</label>
	  		<p>Keep an eye on your flight status in the day leading up to your departure so you know ahead of time if your flight is delayed.</p>
	  	</div>
	  </div>
	  <div class="travel-checklist-content row">
	  	<div class="travel-checklist-content-item small-12 medium-6 columns">
	  		<input type="checkbox" id="tripwise" name="tripwise">
	  		<label for="tripwise">Download Tripwise</label>
	  		<p>While you have your smartphone handy, download Tripwise so you have easy access to your policy information and other savvy travel tips for getting around your destination.<br/><a href="/tripwise-iphone-android-app-from-travel-insurance-direct">Download Tripwise now.</a></p>
	  	</div>
	  	<div class="travel-checklist-content-item small-12 medium-6 columns">
	  		<input type="checkbox" id="plan-airport-trip" name="plan-airport-trip">
	  		<label for="plan-airport-trip">Plan your trip to the airport</label>
	  		<p>Whether you're booking an Uber, catching a cab or traveling by public transport, organise how you're going to get to the airport. Keep an eye on traffic alerts in case there are delays on route.</p>
	  	</div>
	  </div>
	  <div class="travel-checklist-content row">
	  	<div class="travel-checklist-content-item small-12 medium-6 columns">
	  		<input type="checkbox" id="travelmoney-card" name="travelmoney-card">
	  		<label for="travelmoney-card">Top up your TID Travel Money Card</label>
	  		<p>Unless you intend on bartering your luggage, you're going to need some spending money where you're going. Jump online and <a href="/tid-travel-money/load">top up your TID Travel Money Card</a> with up to 10 different currencies.</p>
	  	</div>
	  	<div class="travel-checklist-content-item  travel-checklist-content-item small-12 medium-6 columns">
	  		<input type="checkbox" id="double-check" name="double-check">
	  		<label for="double-check">Double check everything</label>
	  		<p>Passport? Travel Insurance? Toothbrush? Double check you have everything you need for your trip before you close the front door behind you.</p>
	  	</div>
	  </div>
  </div>

  <div class="row qqw-contained">
    <!--Quick Quote Editor goes here-->
  </div>
</section>

<script>
jQuery.sharedCount = function(url, fn) {
 url = encodeURIComponent(url || location.href);
 var domain = "//free.sharedcount.com/"; /* SET DOMAIN */
 var apikey = "8e4b7187bcfca463ceeca1577105f710bf47edd1" /*API KEY HERE*/
 var arg = {
  data: {
   url : url,
   apikey : apikey
  },
  url: domain,
  cache: true,
  dataType: "json"
 };
 if ('withCredentials' in new XMLHttpRequest) {
  arg.success = fn;
 }
 else {
  var cb = "sc_" + url.replace(/\W/g, '');
  window[cb] = fn;
  arg.jsonpCallback = cb;
  arg.dataType += "p";
 }
 return jQuery.ajax(arg);
};

jQuery(document).ready(function($){
 var targetUrl = "http://" + location.host + location.pathname;

 $.sharedCount(targetUrl, function(data){
  var totalShares = data.Twitter + data.Facebook.like_count + data.GooglePlusOne + data.Facebook.share_count + data.Pinterest + data.LinkedIn + data.StumbleUpon;
  if (totalShares <= 20) {
   totalShares = 21;
  }
  $("#tweetscount").text(data.Twitter);
  $("#likescount").text(data.Facebook.like_count);
  $("#facebooksharecount").text(data.Facebook.share_count);
  $("#plusonescount").text(data.GooglePlusOne);
  $("#stumbleuponcount").text(data.StumbleUpon);
  $("#pintrestcount").text(data.Pinterest);
  $("#linkedincount").text(data.LinkedIn);
  $("#total").text(totalShares);
  $("#sharedcount").fadeIn();

 });
});
</script>

<script>

  // Build the target srcs for the icons on click.
  var socialMedialUrl          = window.location;

  var facebookParamU           = "http://www.worldnomads.com/competitions/trip-or-treat";

  var twitterParamText         = "Enter the @WorldNomads competition for a chance to win a spine-tingling trip. http://www.worldnomads.com/competitions/trip-or-treat #triportreat";

  var pinParamDescription      = "Win a Trip or Treat for 2 this Halloween";
  var pinParamMedia            = "http://www.worldnomads.com/Media/Default/Competitions/trip-or-treat/Share/WN-Trip-or-treat-Pinterest-600x400-share.jpg";

  var linkedParamTitle         = "Win a Trip or Treat for 2 this Halloween";
  var linkedParamDescription   = "Check out the @WorldNomads #TripOrTreat contest for a chance to win a @Intrepid spine-tingling trip & fly with @BootsnAll. http://www.worldnomads.com/competitions/trip-or-treat";

  $(function() {
    var $plus = $(".plus");
    var $toggleableButtons = $(".pinterest, .gplus, .linkedin, .stumbleupon").hide();
    $plus.on("click", function() {
      var $this = $(this);
      $toggleableButtons.toggle();
      $plus.toggleClass("open");
    });
  });

  $(function() {
    var $si = $(".socialicon");
    var targetUrl = "";
    $si.on("click", function() {
      var $this = $(this);
      if ($this.hasClass("facebook")) {
        targetUrl = "http://www.facebook.com/share.php?u=" + facebookParamU;
        window.open(targetUrl, 'name', 'width=600,height=400');
      }
      else if ($this.hasClass("twitter")) {
        targetUrl = "https://twitter.com/intent/tweet?text=" + twitterParamText;
        window.open(targetUrl, 'name', 'width=600,height=400');
      }
      else if ($this.hasClass("pinterest")) {
        targetUrl = "http://pinterest.com/pin/create/button?description=" + pinParamDescription + "&media=" + pinParamMedia; + "&url=" + socialMedialUrl;
        window.open(targetUrl, 'name', 'width=755,height=400,scrollbars=no');
      }
      else if ($this.hasClass("gplus")) {
        targetUrl = "https://plus.google.com/share?url=" + socialMedialUrl;
        window.open(targetUrl, 'name', 'width=600,height=400');
      }
      else if ($this.hasClass("linkedin")) {
        targetUrl = "https://www.linkedin.com/shareArticle?mini=true&url=" + socialMedialUrl + "&title=" + linkedParamTitle + "&summary=" + linkedParamDescription;
        window.open(targetUrl, 'name', 'width=600,height=400');
      }
      else if ($this.hasClass("stumbleupon")) {
        targetUrl = "http://www.stumbleupon.com/badge/?url=" + socialMedialUrl;
        window.open(targetUrl, 'name', 'width=600,height=400');
      }
    });
  });

$(function() {
  $('.travel-insurance a').click(function() {
    $('html, body').animate({
        scrollTop: $(".qqw-contained").offset().top - 40
    }, 2000);  
  });
})
</script>

{% endblock %}