{% block title %}TID Travel Scout Competition{% endblock %}
{% block content %}
<style>
hr {   margin-top: 2.75rem; }
@media all and (min-width: 40em) {
#header {
    background: url('/Media/Default/campaigns/travel-scout/campaign_travelscout_desktop.jpg') no-repeat center center;
    background-size: cover;
  }

}
@media all and (max-width: 64em) {
#header {
    background: url('/Media/Default/campaigns/travel-scout/campaign_travelscout_tablet.jpg') no-repeat center center;
    background-size: cover;
  }

}
@media all and (max-width: 40em) {
#header {
    background: url('/Media/Default/campaigns/travel-scout/campaign_travelscout_phone.jpg') no-repeat right center;
    background-size: cover;
  }

}
  

.content-item h5 {
  line-height: 1.3;
  margin-bottom: 0.5rem;  
}
  
ol li {
  margin-bottom: 0.75rem; 
}
.travel-scout-themes {
  padding: 1rem 0;
}
.travel-scout-themes img {
  display: block;
  padding-bottom: 0.5rem;
}

</style>
<article class="content-item">
<div class="header-panel campaign-header dark-blue-panel" id="header">
  <div class="row">
    <div class="small-12 medium-8 large-6 column">
      <h1 class="">Travel Scout winners 2015</h1>
      <p>Win an Annual Multi-trip policy worth up to $1000 and an iPad mini for your next trip.</p>
    </div>
  </div>
</div>

  
<div class="content-panel">
  <div class="row">
   <div class="small-12 columns">
    <h2>The Travel Scouts for 2015 are… </h2>
    

      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-5 travel-scout-themes">
        <li>
          <h5>Fun</h5>
          <img src="/Media/Default/campaigns/travel-scout/travel-scout-fun.jpg">
          <strong>Arnold Schwarzenegger</strong>
          <p>Description of entry, theme etc.</p>
        </li>
        <li>
          <h5>Film</h5>
          <img src="/Media/Default/campaigns/travel-scout/travel-scout-family.jpg">
          <strong>Marianne Faithfull</strong>
          <p>Description of entry, theme etc.</p></li>
        <li>
          <h5>Family</h5>
          <img src="/Media/Default/campaigns/travel-scout/travel-scout-food.jpg">
          <strong>George Clooney</strong>
          <p>Description of entry, theme etc.</p></li>
        <li>
          <h5>Food</h5>
          <img src="/Media/Default/campaigns/travel-scout/travel-scout-film.jpg">
          <strong>Adrian Grenier</strong>
          <p>Description of entry, theme etc.</p></li>
        <li>
          <h5>Film</h5>
          <img src="/Media/Default/campaigns/travel-scout/travel-scout-fun.jpg">
           <strong>Jon Snow</strong>
          <p>Description of entry, theme etc.</p>
        </li>
        
        <li>
          <h5>Fun</h5>
          <img src="/Media/Default/campaigns/travel-scout/travel-scout-fun.jpg">
          <strong>Arnold Schwarzenegger</strong>
          <p>Description of entry, theme etc.</p>
        </li>
        <li>
          <h5>Film</h5>
          <img src="/Media/Default/campaigns/travel-scout/travel-scout-family.jpg">
          <strong>Marianne Faithfull</strong>
          <p>Description of entry, theme etc.</p></li>
        <li>
          <h5>Family</h5>
          <img src="/Media/Default/campaigns/travel-scout/travel-scout-food.jpg">
          <strong>George Clooney</strong>
          <p>Description of entry, theme etc.</p></li>
        <li>
          <h5>Food</h5>
          <img src="/Media/Default/campaigns/travel-scout/travel-scout-film.jpg">
          <strong>Adrian Grenier</strong>
          <p>Description of entry, theme etc.</p></li>
        <li>
          <h5>Film</h5>
          <img src="/Media/Default/campaigns/travel-scout/travel-scout-fun.jpg">
           <strong>Jon Snow</strong>
          <p>Description of entry, theme etc.</p>
        </li>        
      </ul>  
    </div>
  </div>
</div>
  
  <div class="row">
    <div class="small-12 columns">
      <hr>
      <p>Our travel scouts will be bringing…</p>
      <hr>
    </div>
  </div>
  
  <div class="row">
   <div class="small-12 columns">
    <h2>A snapshot of what's to come…</h2>
    

      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4 travel-scout-themes">
        <li>
          <h5>Fun</h5>
          <img src="/Media/Default/campaigns/travel-scout/travel-scout-fun.jpg">
          Whether you are at Disneyland, skiing in Niseko or diving in the Maldives, this theme is for active travellers who are always on the hunt for adventure.</li>
        <li>
          <h5>Family</h5>
          <img src="/Media/Default/campaigns/travel-scout/travel-scout-family.jpg">
          You may be celebrating an anniversary, visiting family or getting away for the school holidays.  This theme puts family at the centre of your travels.</li>
        <li>
          <h5>Food</h5>
          <img src="/Media/Default/campaigns/travel-scout/travel-scout-food.jpg">
          If you plan your trips around food then this is the one for you.  Booking a Michelin star restaurant months ahead or seeking out the best of the local cuisine is what you’re about.</li>
        <li>
          <h5>Film</h5>
          <img src="/Media/Default/campaigns/travel-scout/travel-scout-film.jpg">
          After seeing ‘The Secret Life of Walter Mitty’ you are packing your Nikon and heading to Iceland.  You are inspired by the cinematography of film and TV (plus you may just want to snap a selfie with a star).</li>
      </ul>  
     
     
  </div>
</div>


   
</div>
 
  
</article>

{% endblock %}