{% block title %}TID Travel Scout Competition{% endblock %}
{% block content %}
<style>
hr {   margin-top: 2.75rem; }
@media all and (min-width: 40em) {
#header {
    background: url('/Media/Default/main/hero-images/campaign_travelscout_desktop.jpg') no-repeat center center;
    background-size: cover;
  }

}
@media all and (max-width: 64em) {
#header {
    background: url('/Media/Default/main/hero-images/campaign_travelscout_tablet.jpg') no-repeat center center;
    background-size: cover;
  }

}
@media all and (max-width: 40em) {
#header {
    background: url('/Media/Default/main/hero-images/campaign_travelscout_phone.jpg') no-repeat right center;
    background-size: cover;
  }

}
  
.travel-scout-form label {
  font-size: 1rem;
}
.travel-scout-form .checkbox-list span {
  line-height: 1.1;
  display: inline-block;
  margin-left: 22px
}
.travel-scout-form input[type=checkbox], .travel-scout-form input[type=file], .travel-scout-form input[type=radio], .travel-scout-form select {
  margin: 0;
}
  
.travel-scout-form .row {
  padding-top: 0;
}
.content-item h5 {
  line-height: 1.3;
  margin-bottom: 0.5rem;  
}
  
ol li {
  margin-bottom: 0.75rem; 
}
.travel-scout-themes {
  padding: 1rem 0;
}
.travel-scout-themes img {
  display: block;
  padding-bottom: 0.5rem;
}
.right-col-component {
  margin-bottom: 32px; 
}
.competition-dates-list span {
   display: block;
   margin-bottom: 16px;
}
  
</style>
<article class="content-item">
<div class="header-panel campaign-header dark-blue-panel" id="header">
  <div class="row">
    <div class="small-12 medium-8 large-6 column">
      <h1 class="">Join the TID Travel Scouts</h1>
      <p>Win an Annual Multi-trip policy worth up to $1000 and an iPad mini for your next trip.</p>
      <a href="#travel-scout-form"><button class="button blue">Apply now</button></a>
    </div>
  </div>
</div>
  

  
<div class="content-panel content">
  <div class="row">
    <div class="small-12 medium-8 large-8 columns">
    
    <h3>Are you a blogger dedicated to telling your travel stories? Or an explorer with an eye for photography? Maybe you prefer to experience the world from behind the lens of a video camera? </h3><br>
    <h3>If we’ve just described you to a T, you could become a TID Travel Scout!</h3>
      
    <hr> 
    <h3>What’s a TID Travel Scout?</h3>
    <p>TID is recruiting customers who are frequent globetrotters and want to share their experiences with other TID travellers. As our official storytellers, TID Travel Scouts will have their content published regularly on TID’s website and social pages. </p>

    
    <hr>
    <h3>What’s in it for you?</h3>
    <p>In return for your submissions, you will receive an Annual Multi-trip policy to fuel your travel passion. That’s 12 months’ worth of travel insurance which covers you, your gear and your trips as you travel throughout the year.</p>
    
    <p>To sweeten the deal, you’ll also get an iPad mini 2 32GB with Wi-Fi (RRP $429) so you can post, tweet and ‘gram on the go.</p>
     
    </div>
    
    <!--  Countdown script  -->
    <script type="text/javascript">
      var year = 2015; 
      var month = 05; 
      var day = 25;
      var hour= 9; 
      var min= 0; 
      var sec= 0;
    </script>
    <script type="text/javascript" src="/Media/Default/scripts/js/counter-countdown.js"></script>
    
    <div class="small-12 medium-4 large-3 large-push-1 columns">
     <div class="right-col-component grey-panel">
      <h4>Applications close in...</h4>
      <ul id="countbox">
      </ul>
     </div>
     <div class="right-col-component grey-panel">
      <h4>Competition Dates</h4>
      <p>
      <ul class="competition-dates-list no-bullet">
        <li>Closing date for entries<span><strong>25th May 2015 at 9am (AEST)</strong></span></li> 
        <li>Winners announced<span><strong>5th June 2015 at 9am (AEST)</strong></span></li> 
      </ul>
     </div>
   </div>
</div>
  
  
<div class="row">
   <div class="small-12 columns">
     
    <hr>
    <h3>Who can apply?</h3>

    <p>To be considered, you’ll need to -</p>
    
      <ol>
        <li>Be a TID customer</li>
        <li>Be an amateur travel blogger, video maker or photographer</li>
        <li>Have your own blog, YouTube/Vimeo, Flickr, Instagram and/or Pinterest accounts</li>
        <li>Travel overseas at least 3 times in the 12 month period of your AMT policy</li>
        <li>Be an Australian resident and agree to the T&amp;Cs of our travel insurance policy</li>
        <li>Agree to provide a minimum of 10 pieces of content in your chosen medium over the 12 month period of your AMT policy</li>
        <li>Be a passionate traveller who fits into one of these four themes:
        </li>
      </ol>  
     
      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4 travel-scout-themes">
        <li>
          <h5>Fun</h5>
          <img src="/Media/Default/main/campaigns/travel-scout/travel-scout-fun.jpg">
          Whether you are at Disneyland, skiing in Niseko or diving in the Maldives, this theme is for active travellers who are always on the hunt for adventure.</li>
        <li>
          <h5>Family</h5>
          <img src="/Media/Default/main/campaigns/travel-scout/travel-scout-family.jpg">
          You may be celebrating an anniversary, visiting family or getting away for the school holidays.  This theme puts family at the centre of your travels.</li>
        <li>
          <h5>Food</h5>
          <img src="/Media/Default/main/campaigns/travel-scout/travel-scout-food.jpg">
          If you plan your trips around food then this is the one for you.  Booking a Michelin star restaurant months ahead or seeking out the best of the local cuisine is what you’re about.</li>
        <li>
          <h5>Film</h5>
          <img src="/Media/Default/main/campaigns/travel-scout/travel-scout-film.jpg">
          After seeing ‘The Secret Life of Walter Mitty’ you are packing your Nikon and heading to Iceland.  You are inspired by the cinematography of film and TV (plus you may just want to snap a selfie with a star).</li>
      </ul>  
  </div>
</div>

<div class="content-panel panel"> 
  <div class="row" id="travel-scout-form">
    <div class="small-12 large-10 large-centered columns"> 
      <h2>How to enter</h2>
      <form class="travel-scout-form" action="http://worldnomadsgroup.createsend.com/t/y/s/fhrdlr/" method="post" id="subForm">


        <h5>1. Tell us a bit about you…</h5>
        <div class="row">
          <div class="medium-6 large-4 columns">
            <label>First Name*
              <input type="text" id="fieldName" name="cm-firstname" placeholder="Enter Your First Name" />
            </label>
          </div>
          <div class="medium-6 large-4 columns">
            <label>Last Name*
              <input  type="text" id="fieldName" name="cm-lastname" laceholder="Enter Your Last Name" />
            </label>
          </div>
          
          <div class="medium-6 large-4 columns end">
            <label>Email*
              <input id="fieldEmail" name="cm-zlitur-zlitur" type="email" placeholder="Enter your email address" />
            </label>
          </div>
        </div>

        <h5>2. Where do you like to be social?</h5>
        <div class="row">
          <div class="medium-6 large-4 columns">
            <label>Twitter
              <input id="fieldqluklt" name="cm-f-qluklt" type="text" placeholder="Enter Your Twitter url" />
            </label>
          </div>
          <div class="medium-6 large-4 columns end">
            <label>Instagram 
              <input id="fieldqlukli" name="cm-f-qlukli" type="text" placeholder="Enter your Instagram url" />
            </label>
          </div>
        </div>
        <div class="row">
          <div class="medium-6 large-4 columns">
            <label>Pinterest
              <input id="fieldqlukld" name="cm-f-qlukld" type="text" placeholder="Enter Your Pinterest url" />
            </label>
          </div>
          <div class="medium-6 large-4 columns end">
            <label>Google+ 
              <input id="fieldqluklh" name="cm-f-qluklh" type="text" placeholder="Enter your Google+ url" />
            </label>
          </div>
        </div>

        <h5>3. Where are you travelling in the next 12 months?</h5>
        <div class="row">
          <div class="medium-6 large-4 columns">
            <label>Destination*</label>
            <select id="fieldqluklk" name="cm-fo-qluklk">
              <option value=""></option>
              <option value="906062">Afghanistan</option>
              <option value="906063">Albania</option>
              <option value="906064">Algeria</option>
              <option value="906065">American Samoa</option>
              <option value="906066">Andorra</option>
              <option value="906067">Angola</option>
              <option value="906068">Anguilla</option>
              <option value="906069">Antigua &amp; Barbuda</option>
              <option value="906070">Argentina</option>
              <option value="906071">Armenia</option>
              <option value="906072">Aruba</option>
              <option value="906073">Australia</option>
              <option value="906074">Austria</option>
              <option value="906075">Azerbaijan</option>
              <option value="906076">Azores</option>
              <option value="906077">Bahamas</option>
              <option value="906078">Bahrain</option>
              <option value="906079">Bangladesh</option>
              <option value="906080">Barbados</option>
              <option value="906081">Belarus</option>
              <option value="906082">Belgium</option>
              <option value="906083">Belize</option>
              <option value="906084">Benin</option>
              <option value="906085">Bermuda</option>
              <option value="906086">Bhutan</option>
              <option value="906087">Bolivia</option>
              <option value="906088">Bonaire</option>
              <option value="906089">Bosnia &amp; Herzegovina</option>
              <option value="906090">Botswana</option>
              <option value="906091">Brazil</option>
              <option value="906092">British Indian Ocean Ter</option>
              <option value="906093">Brunei</option>
              <option value="906094">Bulgaria</option>
              <option value="906095">Burkina Faso</option>
              <option value="906096">Burundi</option>
              <option value="906097">Cambodia</option>
              <option value="906098">Cameroon</option>
              <option value="906099">Canada</option>
              <option value="906100">Canary Islands</option>
              <option value="906101">Cape Verde</option>
              <option value="906102">Cayman Islands</option>
              <option value="906103">Central African Republic</option>
              <option value="906104">Chad</option>
              <option value="906105">Channel Islands</option>
              <option value="906106">Chile</option>
              <option value="906107">China</option>
              <option value="906108">Christmas Island</option>
              <option value="906109">Cocos Island</option>
              <option value="906110">Colombia</option>
              <option value="906111">Comoros</option>
              <option value="906112">Congo</option>
              <option value="906113">Congo Democratic Rep</option>
              <option value="906114">Cook Islands</option>
              <option value="906115">Costa Rica</option>
              <option value="906116">Cote D&#x27;Ivoire</option>
              <option value="906117">Croatia</option>
              <option value="906118">Cuba</option>
              <option value="906119">Curacao</option>
              <option value="906120">Cyprus</option>
              <option value="906121">Czech Republic</option>
              <option value="906122">Denmark</option>
              <option value="906123">Djibouti</option>
              <option value="906124">Dominica</option>
              <option value="906125">Dominican Republic</option>
              <option value="906126">East Timor</option>
              <option value="906127">Ecuador</option>
              <option value="906128">Egypt</option>
              <option value="906129">El Salvador</option>
              <option value="906130">Equatorial Guinea</option>
              <option value="906131">Eritrea</option>
              <option value="906132">Estonia</option>
              <option value="906133">Ethiopia</option>
              <option value="906134">Falkland Islands</option>
              <option value="906135">Faroe Islands</option>
              <option value="906136">Fiji</option>
              <option value="906137">Finland</option>
              <option value="906138">France</option>
              <option value="906139">French Guiana</option>
              <option value="906140">French Polynesia</option>
              <option value="906141">French Southern Ter</option>
              <option value="906142">Gabon</option>
              <option value="906143">Gambia</option>
              <option value="906144">Georgia</option>
              <option value="906145">Germany</option>
              <option value="906146">Ghana</option>
              <option value="906147">Gibraltar</option>
              <option value="906148">Great Britain</option>
              <option value="906149">Greece</option>
              <option value="906150">Greenland</option>
              <option value="906151">Grenada</option>
              <option value="906152">Guadeloupe</option>
              <option value="906153">Guam</option>
              <option value="906154">Guatemala</option>
              <option value="906155">Guernsey</option>
              <option value="906156">Guinea</option>
              <option value="906157">Guinea-Bissau</option>
              <option value="906158">Guyana</option>
              <option value="906159">Haiti</option>
              <option value="906160">Honduras</option>
              <option value="906161">Hong Kong</option>
              <option value="906162">Hungary</option>
              <option value="906163">Iceland</option>
              <option value="906164">India</option>
              <option value="906165">Indonesia</option>
              <option value="906166">Iran</option>
              <option value="906167">Iraq</option>
              <option value="906168">Ireland</option>
              <option value="906169">Isle of Man</option>
              <option value="906170">Israel</option>
              <option value="906171">Italy</option>
              <option value="906172">Jamaica</option>
              <option value="906173">Japan</option>
              <option value="906174">Jersey</option>
              <option value="906175">Jordan</option>
              <option value="906176">Kazakhstan</option>
              <option value="906177">Kenya</option>
              <option value="906178">Kiribati</option>
              <option value="906179">Korea North</option>
              <option value="906180">Korea South</option>
              <option value="906181">Kuwait</option>
              <option value="906182">Kyrgyzstan</option>
              <option value="906183">Laos</option>
              <option value="906184">Latvia</option>
              <option value="906185">Lebanon</option>
              <option value="906186">Lesotho</option>
              <option value="906187">Liberia</option>
              <option value="906188">Libya</option>
              <option value="906189">Liechtenstein</option>
              <option value="906190">Lithuania</option>
              <option value="906191">Luxembourg</option>
              <option value="906192">Macau</option>
              <option value="906193">Macedonia</option>
              <option value="906194">Madagascar</option>
              <option value="906195">Malawi</option>
              <option value="906196">Malaysia</option>
              <option value="906197">Maldives</option>
              <option value="906198">Mali</option>
              <option value="906199">Malta</option>
              <option value="906200">Marshall Islands</option>
              <option value="906201">Martinique</option>
              <option value="906202">Mauritania</option>
              <option value="906203">Mauritius</option>
              <option value="906204">Mayotte</option>
              <option value="906205">Mexico</option>
              <option value="906206">Midway Islands</option>
              <option value="906207">Moldova</option>
              <option value="906208">Monaco</option>
              <option value="906209">Mongolia</option>
              <option value="906210">Montenegro</option>
              <option value="906211">Montserrat</option>
              <option value="906212">Morocco</option>
              <option value="906213">Mozambique</option>
              <option value="906214">Myanmar</option>
              <option value="906215">Namibia</option>
              <option value="906216">Nauru</option>
              <option value="906217">Nepal</option>
              <option value="906218">Netherland Antilles</option>
              <option value="906219">Netherlands</option>
              <option value="906220">Nevis</option>
              <option value="906221">New Caledonia</option>
              <option value="906222">New Zealand</option>
              <option value="906223">Nicaragua</option>
              <option value="906224">Niger</option>
              <option value="906225">Nigeria</option>
              <option value="906226">Niue</option>
              <option value="906227">Norfolk Island</option>
              <option value="906228">Norway</option>
              <option value="906229">Oman</option>
              <option value="906230">Pakistan</option>
              <option value="906231">Palau Island</option>
              <option value="906232">Palestine</option>
              <option value="906233">Panama</option>
              <option value="906234">Papua New Guinea</option>
              <option value="906235">Paraguay</option>
              <option value="906236">Peru</option>
              <option value="906237">Philippines</option>
              <option value="906238">Pitcairn Island</option>
              <option value="906239">Poland</option>
              <option value="906240">Portugal</option>
              <option value="906241">Puerto Rico</option>
              <option value="906242">Qatar</option>
              <option value="906243">Reunion</option>
              <option value="906244">Romania</option>
              <option value="906245">Russia</option>
              <option value="906246">Rwanda</option>
              <option value="906247">Saipan</option>
              <option value="906248">Samoa</option>
              <option value="906249">Samoa American</option>
              <option value="906250">San Marino</option>
              <option value="906251">Sao Tome &amp; Principe</option>
              <option value="906252">Saudi Arabia</option>
              <option value="906253">Senegal</option>
              <option value="906254">Serbia</option>
              <option value="906255">Serbia &amp; Montenegro</option>
              <option value="906256">Seychelles</option>
              <option value="906257">Sierra Leone</option>
              <option value="906258">Singapore</option>
              <option value="906259">Slovakia</option>
              <option value="906260">Slovenia</option>
              <option value="906261">Solomon Islands</option>
              <option value="906262">Somalia</option>
              <option value="906263">South Africa</option>
              <option value="906264">South Sudan</option>
              <option value="906265">Spain</option>
              <option value="906266">Sri Lanka</option>
              <option value="906267">St Barthelemy</option>
              <option value="906268">St Eustatius</option>
              <option value="906269">St Helena</option>
              <option value="906270">St Kitts-Nevis</option>
              <option value="906271">St Lucia</option>
              <option value="906272">St Maarten</option>
              <option value="906273">St Pierre &amp; Miquelon</option>
              <option value="906274">St Vincent &amp; Grenadines</option>
              <option value="906275">Sudan</option>
              <option value="906276">Suriname</option>
              <option value="906277">Swaziland</option>
              <option value="906278">Sweden</option>
              <option value="906279">Switzerland</option>
              <option value="906280">Syria</option>
              <option value="906281">Tahiti</option>
              <option value="906282">Taiwan</option>
              <option value="906283">Tajikistan</option>
              <option value="906284">Tanzania</option>
              <option value="906285">Thailand</option>
              <option value="906286">Togo</option>
              <option value="906287">Tokelau</option>
              <option value="906288">Tonga</option>
              <option value="906289">Trinidad &amp; Tobago</option>
              <option value="906290">Tunisia</option>
              <option value="906291">Turkey</option>
              <option value="906292">Turkmenistan</option>
              <option value="906293">Turks &amp; Caicos Is</option>
              <option value="906294">Tuvalu</option>
              <option value="906295">Uganda</option>
              <option value="906296">Ukraine</option>
              <option value="906297">United Arab Emirates</option>
              <option value="906298">United Kingdom</option>
              <option value="906299">United States of America</option>
              <option value="906300">Uruguay</option>
              <option value="906301">Uzbekistan</option>
              <option value="906302">Vanuatu</option>
              <option value="906303">Vatican City State</option>
              <option value="906304">Venezuela</option>
              <option value="906305">Vietnam</option>
              <option value="906306">Virgin Islands (Brit)</option>
              <option value="906307">Virgin Islands (USA)</option>
              <option value="906308">Wake Island</option>
              <option value="906309">Wallis &amp; Futana Is</option>
              <option value="906310">Yemen</option>
              <option value="906311">Zambia</option>
              <option value="906312">Zimbabwe</option>
            </select>
          </div>
          <div class="medium-2 large-2 columns end">
            <input id="fieldqlukludy" name="cm-fd-qluklu-dy" value="1" type="hidden" />
            <label>Intended Month*</label>
              <select  id="fieldqluklu" name="cm-fd-qluklu-mn">
                <option value="1">Jan</option>
                <option value="2">Feb</option>
                <option value="3">Mar</option>
                <option value="4">Apr</option>
                <option value="5">May</option>
                <option value="6">Jun</option>
                <option value="7">Jul</option>
                <option value="8">Aug</option>
                <option value="9">Sep</option>
                <option value="10">Oct</option>
                <option value="11">Nov</option>
                <option value="12">Dec</option>
              </select>
          </div>
          <div class="medium-2 large-2 columns end">
            <label>Intended year*</label>
            <select id="fieldqlukluyr" name="cm-fd-qluklu-yr">
              <option value="2015">2015</option>
              <option value="2016">2016</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="medium-6 large-4 columns">
            <label>Destination*</label>
            <select id="fieldqlukrl" name="cm-fo-qlukrl">
              <option value=""></option>
              <option value="906062">Afghanistan</option>
              <option value="906063">Albania</option>
              <option value="906064">Algeria</option>
              <option value="906065">American Samoa</option>
              <option value="906066">Andorra</option>
              <option value="906067">Angola</option>
              <option value="906068">Anguilla</option>
              <option value="906069">Antigua &amp; Barbuda</option>
              <option value="906070">Argentina</option>
              <option value="906071">Armenia</option>
              <option value="906072">Aruba</option>
              <option value="906073">Australia</option>
              <option value="906074">Austria</option>
              <option value="906075">Azerbaijan</option>
              <option value="906076">Azores</option>
              <option value="906077">Bahamas</option>
              <option value="906078">Bahrain</option>
              <option value="906079">Bangladesh</option>
              <option value="906080">Barbados</option>
              <option value="906081">Belarus</option>
              <option value="906082">Belgium</option>
              <option value="906083">Belize</option>
              <option value="906084">Benin</option>
              <option value="906085">Bermuda</option>
              <option value="906086">Bhutan</option>
              <option value="906087">Bolivia</option>
              <option value="906088">Bonaire</option>
              <option value="906089">Bosnia &amp; Herzegovina</option>
              <option value="906090">Botswana</option>
              <option value="906091">Brazil</option>
              <option value="906092">British Indian Ocean Ter</option>
              <option value="906093">Brunei</option>
              <option value="906094">Bulgaria</option>
              <option value="906095">Burkina Faso</option>
              <option value="906096">Burundi</option>
              <option value="906097">Cambodia</option>
              <option value="906098">Cameroon</option>
              <option value="906099">Canada</option>
              <option value="906100">Canary Islands</option>
              <option value="906101">Cape Verde</option>
              <option value="906102">Cayman Islands</option>
              <option value="906103">Central African Republic</option>
              <option value="906104">Chad</option>
              <option value="906105">Channel Islands</option>
              <option value="906106">Chile</option>
              <option value="906107">China</option>
              <option value="906108">Christmas Island</option>
              <option value="906109">Cocos Island</option>
              <option value="906110">Colombia</option>
              <option value="906111">Comoros</option>
              <option value="906112">Congo</option>
              <option value="906113">Congo Democratic Rep</option>
              <option value="906114">Cook Islands</option>
              <option value="906115">Costa Rica</option>
              <option value="906116">Cote D&#x27;Ivoire</option>
              <option value="906117">Croatia</option>
              <option value="906118">Cuba</option>
              <option value="906119">Curacao</option>
              <option value="906120">Cyprus</option>
              <option value="906121">Czech Republic</option>
              <option value="906122">Denmark</option>
              <option value="906123">Djibouti</option>
              <option value="906124">Dominica</option>
              <option value="906125">Dominican Republic</option>
              <option value="906126">East Timor</option>
              <option value="906127">Ecuador</option>
              <option value="906128">Egypt</option>
              <option value="906129">El Salvador</option>
              <option value="906130">Equatorial Guinea</option>
              <option value="906131">Eritrea</option>
              <option value="906132">Estonia</option>
              <option value="906133">Ethiopia</option>
              <option value="906134">Falkland Islands</option>
              <option value="906135">Faroe Islands</option>
              <option value="906136">Fiji</option>
              <option value="906137">Finland</option>
              <option value="906138">France</option>
              <option value="906139">French Guiana</option>
              <option value="906140">French Polynesia</option>
              <option value="906141">French Southern Ter</option>
              <option value="906142">Gabon</option>
              <option value="906143">Gambia</option>
              <option value="906144">Georgia</option>
              <option value="906145">Germany</option>
              <option value="906146">Ghana</option>
              <option value="906147">Gibraltar</option>
              <option value="906148">Great Britain</option>
              <option value="906149">Greece</option>
              <option value="906150">Greenland</option>
              <option value="906151">Grenada</option>
              <option value="906152">Guadeloupe</option>
              <option value="906153">Guam</option>
              <option value="906154">Guatemala</option>
              <option value="906155">Guernsey</option>
              <option value="906156">Guinea</option>
              <option value="906157">Guinea-Bissau</option>
              <option value="906158">Guyana</option>
              <option value="906159">Haiti</option>
              <option value="906160">Honduras</option>
              <option value="906161">Hong Kong</option>
              <option value="906162">Hungary</option>
              <option value="906163">Iceland</option>
              <option value="906164">India</option>
              <option value="906165">Indonesia</option>
              <option value="906166">Iran</option>
              <option value="906167">Iraq</option>
              <option value="906168">Ireland</option>
              <option value="906169">Isle of Man</option>
              <option value="906170">Israel</option>
              <option value="906171">Italy</option>
              <option value="906172">Jamaica</option>
              <option value="906173">Japan</option>
              <option value="906174">Jersey</option>
              <option value="906175">Jordan</option>
              <option value="906176">Kazakhstan</option>
              <option value="906177">Kenya</option>
              <option value="906178">Kiribati</option>
              <option value="906179">Korea North</option>
              <option value="906180">Korea South</option>
              <option value="906181">Kuwait</option>
              <option value="906182">Kyrgyzstan</option>
              <option value="906183">Laos</option>
              <option value="906184">Latvia</option>
              <option value="906185">Lebanon</option>
              <option value="906186">Lesotho</option>
              <option value="906187">Liberia</option>
              <option value="906188">Libya</option>
              <option value="906189">Liechtenstein</option>
              <option value="906190">Lithuania</option>
              <option value="906191">Luxembourg</option>
              <option value="906192">Macau</option>
              <option value="906193">Macedonia</option>
              <option value="906194">Madagascar</option>
              <option value="906195">Malawi</option>
              <option value="906196">Malaysia</option>
              <option value="906197">Maldives</option>
              <option value="906198">Mali</option>
              <option value="906199">Malta</option>
              <option value="906200">Marshall Islands</option>
              <option value="906201">Martinique</option>
              <option value="906202">Mauritania</option>
              <option value="906203">Mauritius</option>
              <option value="906204">Mayotte</option>
              <option value="906205">Mexico</option>
              <option value="906206">Midway Islands</option>
              <option value="906207">Moldova</option>
              <option value="906208">Monaco</option>
              <option value="906209">Mongolia</option>
              <option value="906210">Montenegro</option>
              <option value="906211">Montserrat</option>
              <option value="906212">Morocco</option>
              <option value="906213">Mozambique</option>
              <option value="906214">Myanmar</option>
              <option value="906215">Namibia</option>
              <option value="906216">Nauru</option>
              <option value="906217">Nepal</option>
              <option value="906218">Netherland Antilles</option>
              <option value="906219">Netherlands</option>
              <option value="906220">Nevis</option>
              <option value="906221">New Caledonia</option>
              <option value="906222">New Zealand</option>
              <option value="906223">Nicaragua</option>
              <option value="906224">Niger</option>
              <option value="906225">Nigeria</option>
              <option value="906226">Niue</option>
              <option value="906227">Norfolk Island</option>
              <option value="906228">Norway</option>
              <option value="906229">Oman</option>
              <option value="906230">Pakistan</option>
              <option value="906231">Palau Island</option>
              <option value="906232">Palestine</option>
              <option value="906233">Panama</option>
              <option value="906234">Papua New Guinea</option>
              <option value="906235">Paraguay</option>
              <option value="906236">Peru</option>
              <option value="906237">Philippines</option>
              <option value="906238">Pitcairn Island</option>
              <option value="906239">Poland</option>
              <option value="906240">Portugal</option>
              <option value="906241">Puerto Rico</option>
              <option value="906242">Qatar</option>
              <option value="906243">Reunion</option>
              <option value="906244">Romania</option>
              <option value="906245">Russia</option>
              <option value="906246">Rwanda</option>
              <option value="906247">Saipan</option>
              <option value="906248">Samoa</option>
              <option value="906249">Samoa American</option>
              <option value="906250">San Marino</option>
              <option value="906251">Sao Tome &amp; Principe</option>
              <option value="906252">Saudi Arabia</option>
              <option value="906253">Senegal</option>
              <option value="906254">Serbia</option>
              <option value="906255">Serbia &amp; Montenegro</option>
              <option value="906256">Seychelles</option>
              <option value="906257">Sierra Leone</option>
              <option value="906258">Singapore</option>
              <option value="906259">Slovakia</option>
              <option value="906260">Slovenia</option>
              <option value="906261">Solomon Islands</option>
              <option value="906262">Somalia</option>
              <option value="906263">South Africa</option>
              <option value="906264">South Sudan</option>
              <option value="906265">Spain</option>
              <option value="906266">Sri Lanka</option>
              <option value="906267">St Barthelemy</option>
              <option value="906268">St Eustatius</option>
              <option value="906269">St Helena</option>
              <option value="906270">St Kitts-Nevis</option>
              <option value="906271">St Lucia</option>
              <option value="906272">St Maarten</option>
              <option value="906273">St Pierre &amp; Miquelon</option>
              <option value="906274">St Vincent &amp; Grenadines</option>
              <option value="906275">Sudan</option>
              <option value="906276">Suriname</option>
              <option value="906277">Swaziland</option>
              <option value="906278">Sweden</option>
              <option value="906279">Switzerland</option>
              <option value="906280">Syria</option>
              <option value="906281">Tahiti</option>
              <option value="906282">Taiwan</option>
              <option value="906283">Tajikistan</option>
              <option value="906284">Tanzania</option>
              <option value="906285">Thailand</option>
              <option value="906286">Togo</option>
              <option value="906287">Tokelau</option>
              <option value="906288">Tonga</option>
              <option value="906289">Trinidad &amp; Tobago</option>
              <option value="906290">Tunisia</option>
              <option value="906291">Turkey</option>
              <option value="906292">Turkmenistan</option>
              <option value="906293">Turks &amp; Caicos Is</option>
              <option value="906294">Tuvalu</option>
              <option value="906295">Uganda</option>
              <option value="906296">Ukraine</option>
              <option value="906297">United Arab Emirates</option>
              <option value="906298">United Kingdom</option>
              <option value="906299">United States of America</option>
              <option value="906300">Uruguay</option>
              <option value="906301">Uzbekistan</option>
              <option value="906302">Vanuatu</option>
              <option value="906303">Vatican City State</option>
              <option value="906304">Venezuela</option>
              <option value="906305">Vietnam</option>
              <option value="906306">Virgin Islands (Brit)</option>
              <option value="906307">Virgin Islands (USA)</option>
              <option value="906308">Wake Island</option>
              <option value="906309">Wallis &amp; Futana Is</option>
              <option value="906310">Yemen</option>
              <option value="906311">Zambia</option>
              <option value="906312">Zimbabwe</option>
            </select>
          </div>
          <div class="medium-2 large-2 columns end">
            <input id="fieldqlukrrdy" name="cm-fd-qlukrr-dy" value="1" type="hidden" />
            <label>Intended Month*</label>
              <select  id="fieldqlukrr" name="cm-fd-qlukrr-mn">
                <option value="1">Jan</option>
                <option value="2">Feb</option>
                <option value="3">Mar</option>
                <option value="4">Apr</option>
                <option value="5">May</option>
                <option value="6">Jun</option>
                <option value="7">Jul</option>
                <option value="8">Aug</option>
                <option value="9">Sep</option>
                <option value="10">Oct</option>
                <option value="11">Nov</option>
                <option value="12">Dec</option>
              </select>
          </div>
          <div class="medium-2 large-2 columns end">
            <label>Intended year*</label>
            <select id="fieldqlukrryr" name="cm-fd-qlukrr-yr">
              <option value="2015">2015</option>
              <option value="2016">2016</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="medium-6 large-4 columns">
            <label>Destination*</label>
            <select id="fieldqlukry" name="cm-fo-qlukry">
              <option value=""></option>
              <option value="906062">Afghanistan</option>
              <option value="906063">Albania</option>
              <option value="906064">Algeria</option>
              <option value="906065">American Samoa</option>
              <option value="906066">Andorra</option>
              <option value="906067">Angola</option>
              <option value="906068">Anguilla</option>
              <option value="906069">Antigua &amp; Barbuda</option>
              <option value="906070">Argentina</option>
              <option value="906071">Armenia</option>
              <option value="906072">Aruba</option>
              <option value="906073">Australia</option>
              <option value="906074">Austria</option>
              <option value="906075">Azerbaijan</option>
              <option value="906076">Azores</option>
              <option value="906077">Bahamas</option>
              <option value="906078">Bahrain</option>
              <option value="906079">Bangladesh</option>
              <option value="906080">Barbados</option>
              <option value="906081">Belarus</option>
              <option value="906082">Belgium</option>
              <option value="906083">Belize</option>
              <option value="906084">Benin</option>
              <option value="906085">Bermuda</option>
              <option value="906086">Bhutan</option>
              <option value="906087">Bolivia</option>
              <option value="906088">Bonaire</option>
              <option value="906089">Bosnia &amp; Herzegovina</option>
              <option value="906090">Botswana</option>
              <option value="906091">Brazil</option>
              <option value="906092">British Indian Ocean Ter</option>
              <option value="906093">Brunei</option>
              <option value="906094">Bulgaria</option>
              <option value="906095">Burkina Faso</option>
              <option value="906096">Burundi</option>
              <option value="906097">Cambodia</option>
              <option value="906098">Cameroon</option>
              <option value="906099">Canada</option>
              <option value="906100">Canary Islands</option>
              <option value="906101">Cape Verde</option>
              <option value="906102">Cayman Islands</option>
              <option value="906103">Central African Republic</option>
              <option value="906104">Chad</option>
              <option value="906105">Channel Islands</option>
              <option value="906106">Chile</option>
              <option value="906107">China</option>
              <option value="906108">Christmas Island</option>
              <option value="906109">Cocos Island</option>
              <option value="906110">Colombia</option>
              <option value="906111">Comoros</option>
              <option value="906112">Congo</option>
              <option value="906113">Congo Democratic Rep</option>
              <option value="906114">Cook Islands</option>
              <option value="906115">Costa Rica</option>
              <option value="906116">Cote D&#x27;Ivoire</option>
              <option value="906117">Croatia</option>
              <option value="906118">Cuba</option>
              <option value="906119">Curacao</option>
              <option value="906120">Cyprus</option>
              <option value="906121">Czech Republic</option>
              <option value="906122">Denmark</option>
              <option value="906123">Djibouti</option>
              <option value="906124">Dominica</option>
              <option value="906125">Dominican Republic</option>
              <option value="906126">East Timor</option>
              <option value="906127">Ecuador</option>
              <option value="906128">Egypt</option>
              <option value="906129">El Salvador</option>
              <option value="906130">Equatorial Guinea</option>
              <option value="906131">Eritrea</option>
              <option value="906132">Estonia</option>
              <option value="906133">Ethiopia</option>
              <option value="906134">Falkland Islands</option>
              <option value="906135">Faroe Islands</option>
              <option value="906136">Fiji</option>
              <option value="906137">Finland</option>
              <option value="906138">France</option>
              <option value="906139">French Guiana</option>
              <option value="906140">French Polynesia</option>
              <option value="906141">French Southern Ter</option>
              <option value="906142">Gabon</option>
              <option value="906143">Gambia</option>
              <option value="906144">Georgia</option>
              <option value="906145">Germany</option>
              <option value="906146">Ghana</option>
              <option value="906147">Gibraltar</option>
              <option value="906148">Great Britain</option>
              <option value="906149">Greece</option>
              <option value="906150">Greenland</option>
              <option value="906151">Grenada</option>
              <option value="906152">Guadeloupe</option>
              <option value="906153">Guam</option>
              <option value="906154">Guatemala</option>
              <option value="906155">Guernsey</option>
              <option value="906156">Guinea</option>
              <option value="906157">Guinea-Bissau</option>
              <option value="906158">Guyana</option>
              <option value="906159">Haiti</option>
              <option value="906160">Honduras</option>
              <option value="906161">Hong Kong</option>
              <option value="906162">Hungary</option>
              <option value="906163">Iceland</option>
              <option value="906164">India</option>
              <option value="906165">Indonesia</option>
              <option value="906166">Iran</option>
              <option value="906167">Iraq</option>
              <option value="906168">Ireland</option>
              <option value="906169">Isle of Man</option>
              <option value="906170">Israel</option>
              <option value="906171">Italy</option>
              <option value="906172">Jamaica</option>
              <option value="906173">Japan</option>
              <option value="906174">Jersey</option>
              <option value="906175">Jordan</option>
              <option value="906176">Kazakhstan</option>
              <option value="906177">Kenya</option>
              <option value="906178">Kiribati</option>
              <option value="906179">Korea North</option>
              <option value="906180">Korea South</option>
              <option value="906181">Kuwait</option>
              <option value="906182">Kyrgyzstan</option>
              <option value="906183">Laos</option>
              <option value="906184">Latvia</option>
              <option value="906185">Lebanon</option>
              <option value="906186">Lesotho</option>
              <option value="906187">Liberia</option>
              <option value="906188">Libya</option>
              <option value="906189">Liechtenstein</option>
              <option value="906190">Lithuania</option>
              <option value="906191">Luxembourg</option>
              <option value="906192">Macau</option>
              <option value="906193">Macedonia</option>
              <option value="906194">Madagascar</option>
              <option value="906195">Malawi</option>
              <option value="906196">Malaysia</option>
              <option value="906197">Maldives</option>
              <option value="906198">Mali</option>
              <option value="906199">Malta</option>
              <option value="906200">Marshall Islands</option>
              <option value="906201">Martinique</option>
              <option value="906202">Mauritania</option>
              <option value="906203">Mauritius</option>
              <option value="906204">Mayotte</option>
              <option value="906205">Mexico</option>
              <option value="906206">Midway Islands</option>
              <option value="906207">Moldova</option>
              <option value="906208">Monaco</option>
              <option value="906209">Mongolia</option>
              <option value="906210">Montenegro</option>
              <option value="906211">Montserrat</option>
              <option value="906212">Morocco</option>
              <option value="906213">Mozambique</option>
              <option value="906214">Myanmar</option>
              <option value="906215">Namibia</option>
              <option value="906216">Nauru</option>
              <option value="906217">Nepal</option>
              <option value="906218">Netherland Antilles</option>
              <option value="906219">Netherlands</option>
              <option value="906220">Nevis</option>
              <option value="906221">New Caledonia</option>
              <option value="906222">New Zealand</option>
              <option value="906223">Nicaragua</option>
              <option value="906224">Niger</option>
              <option value="906225">Nigeria</option>
              <option value="906226">Niue</option>
              <option value="906227">Norfolk Island</option>
              <option value="906228">Norway</option>
              <option value="906229">Oman</option>
              <option value="906230">Pakistan</option>
              <option value="906231">Palau Island</option>
              <option value="906232">Palestine</option>
              <option value="906233">Panama</option>
              <option value="906234">Papua New Guinea</option>
              <option value="906235">Paraguay</option>
              <option value="906236">Peru</option>
              <option value="906237">Philippines</option>
              <option value="906238">Pitcairn Island</option>
              <option value="906239">Poland</option>
              <option value="906240">Portugal</option>
              <option value="906241">Puerto Rico</option>
              <option value="906242">Qatar</option>
              <option value="906243">Reunion</option>
              <option value="906244">Romania</option>
              <option value="906245">Russia</option>
              <option value="906246">Rwanda</option>
              <option value="906247">Saipan</option>
              <option value="906248">Samoa</option>
              <option value="906249">Samoa American</option>
              <option value="906250">San Marino</option>
              <option value="906251">Sao Tome &amp; Principe</option>
              <option value="906252">Saudi Arabia</option>
              <option value="906253">Senegal</option>
              <option value="906254">Serbia</option>
              <option value="906255">Serbia &amp; Montenegro</option>
              <option value="906256">Seychelles</option>
              <option value="906257">Sierra Leone</option>
              <option value="906258">Singapore</option>
              <option value="906259">Slovakia</option>
              <option value="906260">Slovenia</option>
              <option value="906261">Solomon Islands</option>
              <option value="906262">Somalia</option>
              <option value="906263">South Africa</option>
              <option value="906264">South Sudan</option>
              <option value="906265">Spain</option>
              <option value="906266">Sri Lanka</option>
              <option value="906267">St Barthelemy</option>
              <option value="906268">St Eustatius</option>
              <option value="906269">St Helena</option>
              <option value="906270">St Kitts-Nevis</option>
              <option value="906271">St Lucia</option>
              <option value="906272">St Maarten</option>
              <option value="906273">St Pierre &amp; Miquelon</option>
              <option value="906274">St Vincent &amp; Grenadines</option>
              <option value="906275">Sudan</option>
              <option value="906276">Suriname</option>
              <option value="906277">Swaziland</option>
              <option value="906278">Sweden</option>
              <option value="906279">Switzerland</option>
              <option value="906280">Syria</option>
              <option value="906281">Tahiti</option>
              <option value="906282">Taiwan</option>
              <option value="906283">Tajikistan</option>
              <option value="906284">Tanzania</option>
              <option value="906285">Thailand</option>
              <option value="906286">Togo</option>
              <option value="906287">Tokelau</option>
              <option value="906288">Tonga</option>
              <option value="906289">Trinidad &amp; Tobago</option>
              <option value="906290">Tunisia</option>
              <option value="906291">Turkey</option>
              <option value="906292">Turkmenistan</option>
              <option value="906293">Turks &amp; Caicos Is</option>
              <option value="906294">Tuvalu</option>
              <option value="906295">Uganda</option>
              <option value="906296">Ukraine</option>
              <option value="906297">United Arab Emirates</option>
              <option value="906298">United Kingdom</option>
              <option value="906299">United States of America</option>
              <option value="906300">Uruguay</option>
              <option value="906301">Uzbekistan</option>
              <option value="906302">Vanuatu</option>
              <option value="906303">Vatican City State</option>
              <option value="906304">Venezuela</option>
              <option value="906305">Vietnam</option>
              <option value="906306">Virgin Islands (Brit)</option>
              <option value="906307">Virgin Islands (USA)</option>
              <option value="906308">Wake Island</option>
              <option value="906309">Wallis &amp; Futana Is</option>
              <option value="906310">Yemen</option>
              <option value="906311">Zambia</option>
              <option value="906312">Zimbabwe</option>
            </select>
          </div>
          <div class="medium-2 large-2 columns end">
            <input id="fieldqlukrjdy" name="cm-fd-qlukrj-dy" value="1" type="hidden" />
            <label>Intended Month*</label>
              <select id="fieldqlukrj" name="cm-fd-qlukrj-mn">
                <option value="1">Jan</option>
                <option value="2">Feb</option>
                <option value="3">Mar</option>
                <option value="4">Apr</option>
                <option value="5">May</option>
                <option value="6">Jun</option>
                <option value="7">Jul</option>
                <option value="8">Aug</option>
                <option value="9">Sep</option>
                <option value="10">Oct</option>
                <option value="11">Nov</option>
                <option value="12">Dec</option>
              </select>
          </div>
          <div class="medium-2 large-2 columns end">
            <label>Intended year*</label>
            <select id="fieldqlukrjyr" name="cm-fd-qlukrj-yr">
              <option value="2015">2015</option>
              <option value="2016">2016</option>
            </select>
          </div>
        </div>  


        <h5>4. Show us some examples of your blog, photography or film work*</h5>      
        <div class="row collapse">
          <div class="small-3 medium-2 columns">
            <span class="prefix">http://</span>
          </div>
          <div class="small-9 medium-10 columns">
            <input  id="fieldqlukrt" name="cm-f-qlukrt" type="text" placeholder="Enter URL Blog, YouTube, Flickr album etc...">
          </div>
          <div class="small-3 medium-2 columns">
            <span class="prefix">http://</span>
          </div>
          <div class="small-9 medium-10 columns">
            <input id="fieldqlukri" name="cm-f-qlukri" type="text" placeholder="Enter URL Blog, YouTube, Flickr album etc...">
          </div>
          <div class="small-3 medium-2 columns">
            <span class="prefix">http://</span>
          </div>
          <div class="small-9 medium-10 columns">
            <input id="fieldqlukrd" name="cm-f-qlukrd" type="text" placeholder="Enter URL Blog, YouTube, Flickr album etc...">
          </div>
        </div>

        <h5>5. Which theme best describes the kind of travel you do?*</h5>
        <div class="row">
          <div class="large-12 columns checkbox-list">
            <input id="fieldqlukru" name="cm-f-qlukru" value="yes" type="checkbox"><label for="checkbox1"><strong>Fun</strong></label>
            <span>(Active always on the hunt for adventure)</span>
          </div>
          <div class="large-12 columns checkbox-list">
            <input id="fieldqlukyl" name="cm-f-qlukyl" type="checkbox" value="yes" ><label for="checkbox2"><strong>Family</strong></label>
            <span>(Family is at the centre of your travels)</span>
          </div>
          <div class="large-12 columns checkbox-list">  
            <input id="fieldqlukyr" name="cm-f-qlukyr" type="checkbox" value="yes" ><label for="checkbox3"><strong>Food</strong></label>
            <span>(The best of the local cuisine is what you’re about)</span>
          </div>
          <div class="large-12 columns checkbox-list">
            <input id="fieldqlukyy" name="cm-f-qlukyy" type="checkbox" value="yes" ><label for="checkbox4"><strong>Film</strong></label>
            <span>(You're inspired by the cinematography of film and TV)</span>
          </div>
        </div>

        <h5>6. Based on the theme you selected, tell us in 100 words or less what you love about travelling.*</h5>
        <div class="row">
          <div class="large-12 columns">
            <textarea placeholder="" rows="5"></textarea>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <input id="terms-checkbox" type="checkbox"><label for="terms-checkbox"><strong>I Agree</strong> to the <a href="">Terms &amp; Conditions</a> to this competition*</label>
          </div>
        </div>

        <button type="submit" class="button dark-blue" name="SubmitTravelScoutForm">Enter</button>
      </form>
     </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <h3>What happens now?</h3>
      
    <p>The 10 most creative, interesting and articulate travellers will be selected to be a TID Travel Scout.  Good luck!</p>
    <p>Entries close 25.5.15 at 9am (AEST).</p>
    
   </div>
</div>
   
   
</div>
 
  
</article>

{% endblock %}