<ul class="row">
  <li class="benefits-bar-item small-6 medium-3 large-2 columns trusted">
    Trusted by over 1 Million Aussies
  </li>
  <li class="benefits-bar-item small-6 medium-3 large-2 columns award">
    Award Winning Value
  </li>
  <li class="benefits-bar-item small-6 medium-3 large-2 columns owned">
    100% Australian Owned
  </li>
  <li class="benefits-bar-item small-6 medium-3 large-2 columns secure">
    Secure Payment
  </li>
  <li class="large-4 columns trustPilot">
    <div class="trustpilot-widget" data-locale="en-AU" data-template-id="5406e65db0d04a09e042d5fc" data-businessunit-id="5500023c0000ff00057df92a" data-style-height="28px" data-style-width="100%" data-theme="dark">
        <a href="https://au.trustpilot.com/review/travelinsurancedirect.com.au" target="_blank">Trustpilot</a>
    </div>
  </li>
</ul>

<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.sync.bootstrap.min.js"></script>
