<table id="cover-table" width="100%" border="0" cellpadding="16">
        <tbody><tr>
          <th class="col1">When</th>
          <th class="col2">We</th>
        </tr>
        <tr>
          <td data-th="When"><span><strong>You need Medical help</strong>for <span class="insurance-term">Sudden Illness</span>, including unexpected issues relating to 43 <a href="https://service.travelinsurancedirect.com.au/customer/portal/articles/611220-automatically-covered-medical-conditions?b_id=755" target="_blank">Existing Medical Conditions</a>.</td>
          <td data-th="We"><span>Cover overseas <span class="insurance-term">Medical Expenses</span> (e.g. hospital, ambulance, doctor); repatriation costs; <span class="insurance-term">Medical Evacuation</span>; <span class="insurance-term">Cancellation Costs</span> and <span class="insurance-term">Additional Expenses</span>.</td>
        </tr>

        <tr>
          <td data-th="When"><span><strong>You need emergency medical evacuation</strong> for Sudden Illness or injury.</span></td>
          <td data-th="We"><span>Cover your transport to the nearest, appropriate medical facility, which also includes your medical repatriation for further treatment at home. Plus it includes, reasonable additional travel and accommodation expenses for a friend or relative to accompany you while you're in hospital and/or during repatriation.</span></td>
        </tr>

        <tr>
          <td data-th="When"><span><strong>You have to cancel your trip</strong> due to unforeseeable events outside of your control.</span></td>
          <td data-th="We"><span>Covers the costs to cancel all or part of your trip including other pre-booked expenses in specific circumstances including a sudden illness or serious injury or natural disasters.</span></td>
        </tr>

        <tr>
          <td data-th="When"><span><strong>Your gear is stolen or damaged </strong> whilst travelling.</span></td>
          <td data-th="We"><span>Cover theft or accidental damage of your gear such as iPads, laptops and digital cameras in specific incidents up to individual item limits.</span></td>
        </tr>

      </tbody></table>