<style>
#footer .legal {
  margin-top: 20px;
}
</style>
<!-- TODO: Move these styles into footer.sass -->

<div class="header panel" id="footer">
  <div class="footer-header row">
    <div class="small-12 medium-3 large-2 columns">
      <img class="x2" src="/Media/Default/main/tid-logo-white.png" width="196" height="50">      
    </div>
    <div class="small-12 medium-5 large-4 columns">

    </div>

    <div class="small-12 medium-4 large-6 text-right columns hide-for-small">
      <img class="coverholder-at x2" src="/Media/Default/main/lloyds-logo-white.png" width="202" height="40">
      

    </div>

  </div> 
  
  <div class="row">  
    <div class="legal small-12 columns">
      Travel Insurance Direct ® is a registered trademark of Travel Insurance Direct Pty Limited. Travel Insurance Direct Pty Limited ABN 30 121 659 470 AR305589, is an authorised representative of Cerberus Special Risks Pty Limited ABN 81 115 932 173, AFS Licence No. 308461. This is general advice and you should consider if this product suits your needs. Before you buy, please read the Product Disclosure Statement. This insurance is underwritten by certain underwriters at Lloyd’s.
    </div>
  </div>
    
</div>