<nav class="breadcrumb">
  <ol>
    <li class="step1">
      <a href="/Quote?enc=kLg_wPS4F7AFuDMliLqLTZppVFyMfhC7QRT0AN3SJwmok64h3-c7pL0w5V7zv3tiCQQlKNBIzSwI-bxOAuDqGGu6Pq13zZvnoJKz7OjLGeG9yESmd5rfM1yGpeCWpKRYRtxFvnJcD07pKmJr3Jab8wg6ZtoDMNpH0sliZDAAdDRDmJ9WCLaHI7ihxqpCVp_n" data-analytics-id="breadcrumb-goto-quote">
        1. Quote
      </a>
    </li>
    <li class="step2">
      <a href='#'>
        2. Options
      </a>
    </li>
    <li class="step3 active">
    <em>
      3. Details
    </em>
    </li>
    <li class="step4">
    <em>
      4. Review &amp; Pay
    </em>
    </li>
  </ol>
</nav>
