body:before { 
                            white-space: pre; 
                            font-family: monospace; 
                            content: 'Sass \\Users\\CPotter\\Documents\\Source\\TID-Colditz-mix\\bower_components\\foundation\\scss\\ie8-style.sass:2: file to import not found or unreadable: foundation-ie8 \A Current dir: \\Users\\CPotter\\Documents\\Source\\TID-Colditz-mix\\bower_components\\foundation\\scss\\ \A '; } 
                            
                            body * { 
                            display: none; 
                            } 