body:before { 
                            white-space: pre; 
                            font-family: monospace; 
                            content: 'Sass \\Users\\pfellows\\Documents\\GIT\\TID-Colditz-mix\\bower_components\\foundation\\scss\\pages\\_details.sass:46: no mixin named benefits-bar-style \A Backtrace: \A 	Users\\pfellows\\Documents\\GIT\\TID-Colditz-mix\\bower_components\\foundation\\scss\\pages\\_details.sass:46 \A '; } 
                            
                            body * { 
                            display: none; 
                            } 