body:before {
  white-space: pre;
  font-family: monospace;
  content: 'Sass Error: The line was indented 2 levels deeper than the previous line. \A         on line 117 of C:\\Temp\\TID-Colditz-mix\\bower_components\\foundation\\scss\\components\\_home-page.sass \A         from line 20 of C:\\Temp\\TID-Colditz-mix\\bower_components\\foundation\\scss\\style.sass \A   Use --trace for backtrace. \A '; }

  body * {
  	display: none;
  }
