body:before {
  white-space: pre;
  font-family: monospace;
  content: 'Sass Error: Invalid CSS after "font-weight:": expected pseudoclass or pseudoelement, was "100" \A         on line 45 of C:\\Users\\jlee\\Documents\\GitHub\\TID-Colditz-mix\\bower_components\\foundation\\scss\\legacy\\pages\\_quote.sass \A         from line 45 of C:\\Users\\jlee\\Documents\\GitHub\\TID-Colditz-mix\\bower_components\\foundation\\scss\\style.scss \A   Use --trace for backtrace. \A '; }

  body * {
  	display: none;
  }
