{% block title %}Travel Insurance to Bali: From $22{% endblock %}
{% block content %}
<style>


    
  @media all and (min-width: 860px) {
    .tid-au-destinations-usa {
    background: url('/Media/Default/main/hero-images/destination_usa.jpg') no-repeat center center;
    background-size: cover;
    }
  }
@media all and (max-width: 860px) {
.tid-au-destinations-usa {
    background-image: url('/Media/Default/main/hero-images/destination_usa.jpg');
  }

}
@media all and (max-width: 500px) {
.tid-au-destinations-usa {
    background-image: url('/Media/Default/main/hero-images/destination_usa.jpg');
  }

}

</style>
<article class="content-item">
<div class="header-panel panel tid-au-destinations-usa" id="campaign-header">
  <div class="row">
    <div class="small-12 medium-8 column">
      <h1 class="dark-grey">Just a TID bit
        <div class="white">of an all-American adventure</div>
      </h1>      
    </div>
  </div>
</div>
  

  
<div class="content-panel content" id="campaign-destinations-qqw">
  <div class="row header">
    
    
  <!--   TID QQWidget Container    -->

    <div class="row qqw-full-width blue-panel">
      <div class="small-12 column">

        <!--  Include QQWidget  -->
        {% include "qqw" %}

      </div> 
      <div class="benefits-bar blue left">

        <!--  Include Benefits Bar  -->
        {% include "benefits-bar" %}

      </div>  
    </div>

  <!-- QQW Container END -->
    
    
  </div>
</div>
  
<div class="content-panel content benefits-panel">  
  <!-- Include Benefits Panel Widget -->
  {% include "benefits-panel" %}  
</div>  
  
</article>

{% endblock %}