{% block title %}Travel Insurance to Bali: From $22{% endblock %}
{% block content %}

<article class="content-item tid-au-destinations">
<div class="header-panel panel" id="header" style="background-image: url('/static/images/hero-images/destination_usa.jpg')">
  <div class="row">
    <div class="small-12 medium-8 column">
      <h1 class="dark-blue">Just a TID bit</h1>
      <h1 class="white">of an all-American adventure</h1>
      
    </div>
  </div>
</div>

<div class="content-panel content">
  <div class="row header">
    <div class="small-12 medium-9 large-9 column">

        
<!--   TID QQ Widget    -->
        <div class="blue-panel" id="quote-panel">
          <div class="row">
            <div class="small-12 medium-12 large-4 column">
              <h4>1. Where</h4>
              <hr>
              <label>Countries you are travelling to
                <input type="text" placeholder="Select a country" />
              </label>
            </div>
            <div class="small-12 medium-12 large-4 column">
              <h4>2. When</h4>
              <hr>
              <div class="row">
                <div class="small-12 medium-6 large-12 column">
                  <label>Departure Date
                    <input type="date" placeholder="5 March 2015" />
                  </label>
                </div>
                <div class="small-12 medium-6 large-12 column">
                  <label>Return Date
                    <input type="date" placeholder="11 March 2015" />
                  </label>
                </div>
              </div>
            </div>
            <div class="small-12 medium-12 large-4 column">
              <h4>3. Who</h4>
              <hr>
              <label>Age of adult traveller(s)</label>
              <div class="row">
                <div class="small-12 medium-6 large-12 column">
                  <input type="text" placeholder="Enter age" class="age-input" />
                </div>  
                <div class="small-12 medium-6 large-12 column">
                  <input type="text" placeholder="Enter age" class="age-input" />
                  
                </div>
              </div>
              <a class="children-go-free" title="Your children under 21 go free" href="#">Your children go free &rsaquo;</a> 
              <button type="submit" class="button dark-blue expand" name="SubmitQuickQuote">Get a Quote</button>
            </div>
          </div>
        </div>
    
    </div>
    
<!--  Right Hand Column  -->
    <div class="small-12 medium-3 large-3 column">

      <ul>
        <li>Trusted by over 1 million Aussies</li>
        <li>Worldwide Unlimited Medical</li>
        <li>Easy Online Claims</li>
      </ul>

    </div>
    
  </div>
</div>
  
<div class="content-panel content">
  <div class="row">
    <div class="small-12 column">
      <h2>What’s covered with Australia’s #1 online travel insurance?</h2>
      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
        <li class="text-with-img cancellation">
          <a href="http://www.travelinsurancedirect.com.au/what-we-cover?takeover=cancellation">
            <h4>Trip Cancellation</h4>
            <p>Airport closed? Can’t go on your trip? Have to return home early? We offer unlimited cover for cancellation costs.</p>
            <span class="learn-more">Learn more</span>
          </a>
        </li>
        <li class="text-with-img medical-help">
          <a href="http://www.travelinsurancedirect.com.au/what-we-cover?takeover=medical-help">
            <h4 class="">Medical help</h4>
            <p>If you become sick or seriously injured on your trip, we provide unlimited cover for medical treatment, cancellation costs or additional travel expenses.</p>
            <span class="learn-more">Learn more</span>
          </a>
        </li>
        <li class="text-with-img luggage">
          <a href="http://www.travelinsurancedirect.com.au/what-we-cover?takeover=lost-luggage">
            <h4>Lost or stolen luggage</h4>
            <p>Your belongings are covered up to $700 or $4,000 for valuable items such as a laptop, tablet or camera.</p>
            <span class="learn-more">Learn more</span>
          </a>
        </li>
        <li class="text-with-img accident" >
          <a href="http://www.travelinsurancedirect.com.au/what-we-cover?takeover=have-an-accident">
            <h4 class="">Accidents</h4>
            <p>If you sustain a serious injury during your trip, we’ll cover your medical treatment, cancellation costs or additional travel expenses.</p>
            <span class="learn-more">Learn more</span>
          </a>
        </li>
        <li class="text-with-img evacuation">
          <a href="http://www.travelinsurancedirect.com.au/what-we-cover?takeover=evacuation">
            <h4>Medical evacuation</h4>
            <p>Our emergency assistance team offers 24/7 support if you require evacuation due to serious illness or injury.</p>
            <span class="learn-more">Learn more</span>
          </a>
        </li>
        <li class="text-with-img passport-lost">
          <a href="http://www.travelinsurancedirect.com.au/what-we-cover?takeover=passport-lost">
            <h4 class="">Lost Passport</h4>
            <p>We’ll cover expenses associated with replacing your passport and help you locate the closest consulate.</p>
            <span class="learn-more">Learn more</span>
          </a>
        </li>
    </ul>
    
    </div>
    
    <div class="small-12 column text-center">
      <a class="button dark-blue" href="#">Get travel insurance</a>
    </div>
  </div>
</div> 
  
</article>

{% endblock %}