<<<<<<< HEAD
{% block title %}Travel Insurance to Bali: From $22{% endblock %}
{% block content %}
=======
{% block title %}What we cover{% endblock %}
{% block content %}

<div class="zone zone-before-main">

    <div class="header-panel blue-panel" id="header">
        <div class="row">
            <div class="small-12 column">
                <h1>We've got you covered</h1>
                <p>Here at TID we love to travel too. </p>
            </div>
        </div>
    </div>
</div>

<div class="content-panel">
        <div class="row">
            <div class="small-12 column">

<div class="zone zone-content">
<article class="page-with-quote-panel content-item">
    <header>
        
    </header>
    <p>We want people to go, explore the world, and return home safely without ever having needed to call us. &nbsp;But TID gets to see all the unexpected things that happen to people overseas every single day so our policy is designed to cover such events, making it helpful, easy and great value.</p>
<h4>When you need medical help</h4>
<p>for sudden illness, including unexpected issues relating to 43 <a href="https://service.travelinsurancedirect.com.au/customer/portal/articles/611220-automatically-covered-medical-conditions?b_id=755" target="_blank">Existing Medical Conditions</a>.</p>
<h5>We pay Unlimited</h5>
<p>Overseas Medical Expenses (e.g. hospital, ambulance, doctor); repatriation costs; <span class="insurance-term">Medical Evacuation; Cancellation Costs and Additional Expenses</span></p>
<hr>
<h4>When you are in an accident</h4>
<p>and sustain a serious injury.</p>
<h5>We pay Unlimited</h5>
<p>Overseas medical expenses (e.g. hospital, ambulance, doctor); repatriation costs; Medical Evacuation; Cancellation Costs and Additional Expenses.</p>
<hr>
<h4>When you need medical evacuation</h4>
<p>due to sudden illness or serious injury.</p>
<h5>We pay Unlimited</h5>
<p>Medical Evacuation costs.</p>
<hr>
<h3>When your passport or travel documents</h3>
<p>are lost or stolen.</p>
<h5>We pay Unlimited</h5>
<p>Cancellation Costs and Additional Expenses.</p>
<hr>
<h3>When your luggage &amp; personal effects</h3>
<p>are stolen, accidentally lost or damaged.</p>
<h5>We pay $12,000 (Single) $24,000 (Family)</h5>
<p>Laptops, tablets &amp; cameras are covered up to $4,000 &amp; all other items up to $700 or you can add other <a href="https://service.travelinsurancedirect.com.au/customer/portal/articles/526847-cover-for-laptops-cameras-and-phones" target="_blank">valuable items</a> as an option.</p>
<hr>
<h3>When you have to cancel your trip</h3>
<p>due to unforeseeable events outside of your control (e.g. Sudden Illness).</p>
<h5>We pay Unlimited</h5>
<p>Cancellation Costs (e.g. loss of deposit).</p>
<hr>
<h3>When your flight is cancelled or delayed</h3>
<p>due to bad weather, natural disaster, riot, hijacking, strike or civil commotion.</p>
<h5>We pay Unlimited</h5>
<p>Cancellation Costs (e.g. loss of deposit) and Additional Expenses (e.g. additional accommodation expenses).</p>
<hr>
<h3>When you have to return home early</h3>
<p>due to unforeseeable events outside of your control (e.g. a close relative is hospitalised due to serious injury; or your home is destroyed by fire).</p>
<h5>We pay Unlimited</h5>
<p>Cancellation Costs (e.g. loss of deposit) and Additional Expenses (e.g. additional travel expenses). In certain circumstances, we may also pay for you to resume your trip (up to $3,000).</p>
<hr>
<h3>When you become legally liable</h3>
<p>when your negligence leads to injury or loss/damage to property (Personal Liability).</p>
<h5>We pay $2,500,000</h5>
<p>for amounts that you are legally liable for (i.e. compensation) as well as Reasonable legal costs</p>
<hr>
<h3>When a Natural Disaster</h3>
<p>means your flight or other pre-booked public transport is cancelled, delayed or rescheduled</p>
<h5>We pay Unlimited</h5>
<p>Cancellation Costs and Additional Expenses (e.g. additional accommodation expenses)</p>
<hr>
<h3>When Bad Weather</h3>
<p>means your flight or other pre-booked public transport is cancelled, delayed or rescheduled</p>
<h5>We pay Unlimited</h5>
<p>Cancellation Costs and Additional Expenses (e.g. additional accommodation expenses)</p>
<hr>
<h3>If you Die</h3>
<p>whilst on Your Trip due to Sudden Illness or Serious Injury</p>
<h5>We pay Unlimited</h5>
<p>Cancellation Costs and Additional Expenses. Also, we will repatriate Your remains to Australia (up to $12,000) if needed. Where Your death is as a direct result of an Injury on Your Trip we will also pay $25,000 to Your estate.</p>
<hr>
<h3>When Your bags are Delayed</h3>
<p>by the airline or other Carrier</p>
<h5>We pay $500</h5>
<p>for essential items to tide you over until Your baggage arrives</p>
<hr>
<h3>When Your Travel Is Delayed</h3>
<p>For Operational Reasons (e.g. if the Airline delays Your flight due to mechanical reasons)</p>
<h5>We pay $2,000</h5>
<p>for any Reasonable additional meals and accommodation; or refund of pre-paid travel arrangements</p>
<hr>        <div class="row qqw-contained">
            <div class="small-12 column blue-panel">
                <div id="quick-quote">
                    <form id="quoteForm" action="/Home/SubmitQuickQuote" method="post">
                        <div id="do-not-travel-modal-wrapper"></div>
                        <div class="destination alpha">
                            <h3>1. Where</h3>
                            <label>Countries you are travelling to</label>
                            <div class="input-group" id="quote-destination">
      <ul id="destinations"></ul>
      <select name="SelectedCountryId" disabled="disabled" style="display: none;">
        <option value="">Select a Country</option>
              <option value="79" data-sort="79" data-aliases="Great Britain|London|GBR|UK|England|Wales|Scotland|Northern Ireland|Isle of Man">
                United Kingdom
              </option>
              <option value="232" data-sort="232" data-aliases="America|USA|US|Hawaii|Los Angeles|USA">
                United States
              </option>
              <option value="216" data-sort="216" data-aliases="Bangkok|Phuket">
                Thailand
              </option>
              <option value="157" data-sort="157" data-aliases="Kuala Lumpur">
                Malaysia
              </option>
              <option value="194" data-sort="194">
                Singapore
              </option>
              <option value="40" data-sort="40">
                Canada
              </option>
              <option value="75" data-sort="75" data-aliases="Lifou|Paris|Loyalty Islands|Isle of Pines">
                France
              </option>
              <option value="170" data-sort="170" data-aliases="NZ|Newzealand">
                New Zealand
              </option>
              <option value="96" data-sort="96" data-aliases="HK|Hongkong">
                Hong Kong
              </option>
              <option value="111" data-sort="111">
                Italy
              </option>
              <option value="73" data-sort="73">
                Fiji
              </option>
              <option value="247" data-sort="247">
                Bali
              </option>
              <option value="59" data-sort="59">
                Germany
              </option>
              <option value="239" data-sort="239">
                Vietnam
              </option>
              <option value="49" data-sort="49" data-aliases="Rarotonga">
                Cook Islands
              </option>
              <option value="104" data-sort="104">
                India
              </option>
              <option value="69" data-sort="69" data-aliases="Ibiza">
                Spain
              </option>
              <option value="176" data-sort="176">
                Philippines
              </option>
              <option value="44" data-sort="44">
                China
              </option>
              <option value="115" data-sort="115">
                Japan
              </option>
              <option value="166" data-sort="166" data-aliases="Amsterdam|Holland|The Netherlands">
                Netherlands
              </option>
              <option value="119" data-sort="119">
                Cambodia
              </option>
              <option value="244" data-sort="244">
                South Africa
              </option>
              <option value="106" data-sort="106">
                Ireland
              </option>
              <option value="54" data-sort="54">
                Cuba
              </option>
              <option value="242" data-sort="242" data-aliases="Western Samoa">
                Samoa
              </option>
              <option value="9" data-sort="9" data-aliases="UAE|Dubai|Abu Dhabi">
                United Arab Emirates
              </option>
              <option value="102" data-sort="102">
                Indonesia
              </option>
              <option value="89" data-sort="89">
                Greece
              </option>
              <option value="10" data-sort="10">
                Argentina
              </option>
              <option value="240" data-sort="240">
                Vanuatu
              </option>
              <option value="17" data-sort="17">
                Austria
              </option>
              <option value="160" data-sort="160" data-aliases="Noumea">
                New Caledonia
              </option>
              <option value="209" data-sort="209">
                Sweden
              </option>
              <option value="175" data-sort="175">
                Peru
              </option>
              <option value="33" data-sort="33">
                Brazil
              </option>
              <option value="124" data-sort="124">
                Laos
              </option>
              <option value="62" data-sort="62">
                Denmark
              </option>
              <option value="42" data-sort="42">
                Switzerland
              </option>
              <option value="43" data-sort="43">
                Chile
              </option>
              <option value="182" data-sort="182">
                Portugal
              </option>
              <option value="99" data-sort="99">
                Croatia
              </option>
              <option value="224" data-sort="224" data-aliases="Istanbul">
                Turkey
              </option>
              <option value="20" data-sort="20">
                Belgium
              </option>
              <option value="189" data-sort="189">
                Russia
              </option>
              <option value="142" data-sort="142">
                Mexico
              </option>
              <option value="35" data-sort="35">
                Brunei
              </option>
              <option value="122" data-sort="122" data-aliases="South Korea (Republic of Korea)">
                South Korea
              </option>
              <option value="117" data-sort="117">
                Kenya
              </option>
              <option value="135" data-sort="135" data-aliases="Macau">
                Macao
              </option>
              <option value="221" data-sort="221">
                Tonga
              </option>
              <option value="248" data-sort="248">
                Tahiti
              </option>
              <option value="179" data-sort="179">
                Poland
              </option>
              <option value="32" data-sort="32">
                Bolivia
              </option>
              <option value="58" data-sort="58" data-aliases="Prague">
                Czech Republic
              </option>
              <option value="207" data-sort="207">
                Slovakia
              </option>
              <option value="110" data-sort="110">
                Israel
              </option>
              <option value="130" data-sort="130" data-aliases="SriLanka">
                Sri Lanka
              </option>
              <option value="101" data-sort="101" data-aliases="Budapest">
                Hungary
              </option>
              <option value="50" data-sort="50">
                Colombia
              </option>
              <option value="227" data-sort="227">
                Tanzania
              </option>
              <option value="66" data-sort="66">
                Egypt
              </option>
              <option value="188" data-sort="188">
                Romania
              </option>
              <option value="246" data-sort="246">
                Zimbabwe
              </option>
              <option value="64" data-sort="64">
                Algeria
              </option>
              <option value="172" data-sort="172">
                Pakistan
              </option>
              <option value="226" data-sort="226">
                Taiwan
              </option>
              <option value="204" data-sort="204">
                Serbia
              </option>
              <option value="38" data-sort="38">
                Botswana
              </option>
              <option value="168" data-sort="168">
                Nepal
              </option>
              <option value="140" data-sort="140">
                Madagascar
              </option>
              <option value="162" data-sort="162">
                Norfolk Island
              </option>
              <option value="27" data-sort="27">
                Bosnia and Herzegovina
              </option>
              <option value="92" data-sort="92">
                Guatemala
              </option>
              <option value="144" data-sort="144">
                Macedonia
              </option>
              <option value="31" data-sort="31">
                Bermuda
              </option>
              <option value="24" data-sort="24">
                Bulgaria
              </option>
              <option value="137" data-sort="137">
                Morocco
              </option>
              <option value="6" data-sort="6">
                Albania
              </option>
              <option value="100" data-sort="100">
                Haiti
              </option>
              <option value="53" data-sort="53">
                Costa Rica
              </option>
              <option value="109" data-sort="109">
                Iceland
              </option>
              <option value="191" data-sort="191">
                Saudi Arabia
              </option>
              <option value="167" data-sort="167">
                Norway
              </option>
              <option value="164" data-sort="164">
                Nicaragua
              </option>
              <option value="236" data-sort="236">
                Venezuela
              </option>
              <option value="171" data-sort="171">
                Oman
              </option>
              <option value="26" data-sort="26">
                The Bahamas
              </option>
              <option value="148" data-sort="148">
                Montenegro
              </option>
              <option value="222" data-sort="222">
                Trinidad and Tobago
              </option>
              <option value="11" data-sort="11">
                Armenia
              </option>
              <option value="30" data-sort="30">
                Belize
              </option>
              <option value="2" data-sort="2">
                Afghanistan
              </option>
              <option value="254" data-sort="254">
                Africa
              </option>
              <option value="5" data-sort="5">
                Aland Islands
              </option>
              <option value="12" data-sort="12">
                American Samoa
              </option>
              <option value="7" data-sort="7">
                Andorra
              </option>
              <option value="3" data-sort="3">
                Angola
              </option>
              <option value="4" data-sort="4">
                Anguilla
              </option>
              <option value="255" data-sort="255">
                Antarctic Flyover
              </option>
              <option value="13" data-sort="13">
                Antarctica
              </option>
              <option value="15" data-sort="15">
                Antigua and Barbuda
              </option>
              <option value="1" data-sort="1">
                Aruba
              </option>
              <option value="196" data-sort="196" data-aliases="Ascension Island|Saint Helena|Tristan da Cunha">
                Saint Helena, Ascension and Tristan da Cunha
              </option>
              <option value="252" data-sort="252" data-aliases="Borneo">
                Asia
              </option>
              <option value="257" data-sort="257">
                Australian Waters
              </option>
              <option value="18" data-sort="18">
                Azerbaijan
              </option>
              <option value="25" data-sort="25">
                Bahrain
              </option>
              <option value="23" data-sort="23">
                Bangladesh
              </option>
              <option value="34" data-sort="34">
                Barbados
              </option>
              <option value="29" data-sort="29">
                Belarus
              </option>
              <option value="21" data-sort="21">
                Benin
              </option>
              <option value="36" data-sort="36">
                Bhutan
              </option>
              <option value="258" data-sort="258" data-aliases="Bonaire|Sint Eustatius|Saba">
                Bonaire, Sint Eustatius and Saba
              </option>
              <option value="37" data-sort="37">
                Bouvet Island
              </option>
              <option value="105" data-sort="105">
                British Indian Ocean Territory
              </option>
              <option value="237" data-sort="237">
                British Virgin Islands
              </option>
              <option value="22" data-sort="22">
                Burkina Faso
              </option>
              <option value="147" data-sort="147" data-aliases="Burma">
                Myanmar
              </option>
              <option value="19" data-sort="19">
                Burundi
              </option>
              <option value="46" data-sort="46">
                Cameroon
              </option>
              <option value="52" data-sort="52">
                Cape Verde
              </option>
              <option value="256" data-sort="256">
                Caroline Islands
              </option>
              <option value="56" data-sort="56">
                Cayman Islands
              </option>
              <option value="39" data-sort="39">
                Central African Republic
              </option>
              <option value="214" data-sort="214">
                Chad
              </option>
              <option value="55" data-sort="55">
                Christmas Island
              </option>
              <option value="41" data-sort="41">
                Cocos (Keeling) Islands
              </option>
              <option value="51" data-sort="51">
                Comoros
              </option>
              <option value="48" data-sort="48">
                Congo
              </option>
              <option value="45" data-sort="45">
                Cote d'Ivoire
              </option>
              <option value="259" data-sort="259">
                Curacao
              </option>
              <option value="57" data-sort="57">
                Cyprus
              </option>
              <option value="47" data-sort="47">
                Democratic Republic of the Congo
              </option>
              <option value="60" data-sort="60">
                Djibouti
              </option>
              <option value="61" data-sort="61">
                Dominica
              </option>
              <option value="63" data-sort="63">
                Dominican Republic
              </option>
              <option value="220" data-sort="220" data-aliases="Timor-Leste">
                East Timor
              </option>
              <option value="65" data-sort="65">
                Ecuador
              </option>
              <option value="200" data-sort="200">
                El Salvador
              </option>
              <option value="88" data-sort="88">
                Equatorial Guinea
              </option>
              <option value="67" data-sort="67">
                Eritrea
              </option>
              <option value="70" data-sort="70">
                Estonia
              </option>
              <option value="71" data-sort="71">
                Ethiopia
              </option>
              <option value="250" data-sort="250">
                Europe
              </option>
              <option value="74" data-sort="74" data-aliases="Malvinas">
                Falkland Islands 
              </option>
              <option value="76" data-sort="76">
                Faroe Islands
              </option>
              <option value="72" data-sort="72">
                Finland
              </option>
              <option value="93" data-sort="93">
                French Guiana
              </option>
              <option value="185" data-sort="185">
                French Polynesia
              </option>
              <option value="14" data-sort="14">
                French Southern Territories
              </option>
              <option value="78" data-sort="78">
                Gabon
              </option>
              <option value="86" data-sort="86">
                Gambia
              </option>
              <option value="80" data-sort="80">
                Georgia
              </option>
              <option value="82" data-sort="82">
                Ghana
              </option>
              <option value="83" data-sort="83">
                Gibraltar
              </option>
              <option value="91" data-sort="91">
                Greenland
              </option>
              <option value="90" data-sort="90">
                Grenada
              </option>
              <option value="85" data-sort="85">
                Guadeloupe
              </option>
              <option value="94" data-sort="94">
                Guam
              </option>
              <option value="81" data-sort="81">
                Guernsey
              </option>
              <option value="84" data-sort="84">
                Guinea
              </option>
              <option value="87" data-sort="87">
                Guinea-Bissau
              </option>
              <option value="95" data-sort="95">
                Guyana
              </option>
              <option value="97" data-sort="97">
                Heard Island and McDonald Islands
              </option>
              <option value="234" data-sort="234">
                Holy See (Vatican City State)
              </option>
              <option value="98" data-sort="98">
                Honduras
              </option>
              <option value="107" data-sort="107">
                Iran
              </option>
              <option value="108" data-sort="108">
                Iraq
              </option>
              <option value="112" data-sort="112">
                Jamaica
              </option>
              <option value="113" data-sort="113">
                Jersey
              </option>
              <option value="114" data-sort="114">
                Jordan
              </option>
              <option value="116" data-sort="116">
                Kazakhstan
              </option>
              <option value="120" data-sort="120">
                Kiribati
              </option>
              <option value="123" data-sort="123">
                Kuwait
              </option>
              <option value="118" data-sort="118">
                Kyrgyzstan
              </option>
              <option value="134" data-sort="134">
                Latvia
              </option>
              <option value="125" data-sort="125">
                Lebanon
              </option>
              <option value="131" data-sort="131">
                Lesotho
              </option>
              <option value="126" data-sort="126">
                Liberia
              </option>
              <option value="127" data-sort="127">
                Libya
              </option>
              <option value="129" data-sort="129">
                Liechtenstein
              </option>
              <option value="132" data-sort="132">
                Lithuania
              </option>
              <option value="133" data-sort="133">
                Luxembourg
              </option>
              <option value="156" data-sort="156">
                Malawi
              </option>
              <option value="141" data-sort="141">
                Maldives
              </option>
              <option value="145" data-sort="145">
                Mali
              </option>
              <option value="146" data-sort="146">
                Malta
              </option>
              <option value="143" data-sort="143">
                Marshall Islands
              </option>
              <option value="154" data-sort="154">
                Martinique
              </option>
              <option value="152" data-sort="152">
                Mauritania
              </option>
              <option value="155" data-sort="155">
                Mauritius
              </option>
              <option value="158" data-sort="158">
                Mayotte
              </option>
              <option value="77" data-sort="77">
                Micronesia
              </option>
              <option value="139" data-sort="139">
                Moldova
              </option>
              <option value="138" data-sort="138">
                Monaco
              </option>
              <option value="149" data-sort="149">
                Mongolia
              </option>
              <option value="153" data-sort="153">
                Montserrat
              </option>
              <option value="151" data-sort="151">
                Mozambique
              </option>
              <option value="159" data-sort="159">
                Namibia
              </option>
              <option value="169" data-sort="169">
                Nauru
              </option>
              <option value="161" data-sort="161">
                Niger
              </option>
              <option value="163" data-sort="163">
                Nigeria
              </option>
              <option value="165" data-sort="165">
                Niue
              </option>
              <option value="181" data-sort="181" data-aliases="North Korea (Democratic people's Republic of Korea)">
                North Korea
              </option>
              <option value="150" data-sort="150">
                Northern Mariana Islands
              </option>
              <option value="178" data-sort="178" data-aliases="PNG">
                Papua New Guinea
              </option>
              <option value="253" data-sort="253" data-aliases="South Pacific|Pacific Islands">
                Pacific
              </option>
              <option value="177" data-sort="177">
                Palau
              </option>
              <option value="184" data-sort="184" data-aliases="Palestine">
                Palestinian Territory, Occupied
              </option>
              <option value="173" data-sort="173">
                Panama
              </option>
              <option value="183" data-sort="183">
                Paraguay
              </option>
              <option value="174" data-sort="174" data-aliases="Pitcairn Island">
                Pitcairn
              </option>
              <option value="180" data-sort="180">
                Puerto Rico
              </option>
              <option value="186" data-sort="186">
                Qatar
              </option>
              <option value="187" data-sort="187">
                Reunion
              </option>
              <option value="190" data-sort="190">
                Rwanda
              </option>
              <option value="28" data-sort="28">
                Saint Barthelemy
              </option>
              <option value="121" data-sort="121" data-aliases="St Kitts and Nevis">
                Saint Kitts and Nevis
              </option>
              <option value="128" data-sort="128">
                Saint Lucia
              </option>
              <option value="136" data-sort="136" data-aliases="Sint Maarten">
                Saint Martin (French part)
              </option>
              <option value="203" data-sort="203">
                Saint Pierre and Miquelon
              </option>
              <option value="235" data-sort="235">
                Saint Vincent and the Grenadines
              </option>
              <option value="201" data-sort="201">
                San Marino
              </option>
              <option value="205" data-sort="205">
                Sao Tome and Principe
              </option>
              <option value="193" data-sort="193">
                Senegal
              </option>
              <option value="211" data-sort="211">
                Seychelles
              </option>
              <option value="199" data-sort="199">
                Sierra Leone
              </option>
              <option value="208" data-sort="208">
                Slovenia
              </option>
              <option value="198" data-sort="198">
                Solomon Islands
              </option>
              <option value="202" data-sort="202">
                Somalia
              </option>
              <option value="251" data-sort="251">
                South America
              </option>
              <option value="195" data-sort="195">
                South Georgia and the South Sandwich Islands
              </option>
              <option value="192" data-sort="192" data-aliases="South Sudan">
                Sudan
              </option>
              <option value="206" data-sort="206">
                Suriname
              </option>
              <option value="197" data-sort="197">
                Svalbard and Jan Mayen
              </option>
              <option value="210" data-sort="210">
                Swaziland
              </option>
              <option value="212" data-sort="212">
                Syria
              </option>
              <option value="217" data-sort="217">
                Tajikistan
              </option>
              <option value="215" data-sort="215">
                Togo
              </option>
              <option value="218" data-sort="218">
                Tokelau
              </option>
              <option value="223" data-sort="223">
                Tunisia
              </option>
              <option value="219" data-sort="219">
                Turkmenistan
              </option>
              <option value="213" data-sort="213">
                Turks and Caicos Islands
              </option>
              <option value="225" data-sort="225">
                Tuvalu
              </option>
              <option value="228" data-sort="228">
                Uganda
              </option>
              <option value="229" data-sort="229">
                Ukraine
              </option>
              <option value="230" data-sort="230">
                United States Minor Outlying Islands
              </option>
              <option value="231" data-sort="231">
                Uruguay
              </option>
              <option value="238" data-sort="238">
                US Virgin Islands
              </option>
              <option value="233" data-sort="233">
                Uzbekistan
              </option>
              <option value="241" data-sort="241">
                Wallis and Futuna
              </option>
              <option value="68" data-sort="68">
                Western Sahara
              </option>
              <option value="249" data-sort="249">
                Worldwide
              </option>
              <option value="243" data-sort="243">
                Yemen
              </option>
              <option value="245" data-sort="245">
                Zambia
              </option>
              <option value="16" data-sort="16" data-aliases="Melbourne|Tasmania">
                Australia
              </option>

      </select><input type="text" class="destination-autocomplete placeholder" id="destination-autocomplete" tabindex="1" autocomplete="off"><span class="tid-icon icon-tid-menu"></span>
      
</div>
<input id="countryIDs" name="RawCountryIds" type="hidden" value=""><input id="QuoteDto_PromotionCode" name="QuoteDto.PromotionCode" type="hidden" value="">
                            
                        </div>
                        <div class="travel-dates">
                            <h3>2. When</h3>
                            <div class="input-group" id="quote-departure-date">
<label for="QuoteDto_DepartureDateDay">Departure Date</label><select id="QuoteDto_DepartureDateDay" name="QuoteDto.DepartureDateDay" style="display: none;"><option value="1">1</option>
<option selected="selected" value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
</select><select id="QuoteDto_DepartureDateMonth" name="QuoteDto.DepartureDateMonth" style="display: none;"><option value="1">Jan</option>
<option value="2">Feb</option>
<option value="3">Mar</option>
<option selected="selected" value="4">Apr</option>
<option value="5">May</option>
<option value="6">Jun</option>
<option value="7">Jul</option>
<option value="8">Aug</option>
<option value="9">Sep</option>
<option value="10">Oct</option>
<option value="11">Nov</option>
<option value="12">Dec</option>
</select><select id="QuoteDto_DepartureDateYear" name="QuoteDto.DepartureDateYear" style="display: none;"><option selected="selected" value="2015">2015</option>
<option value="2016">2016</option>
<option value="2017">2017</option>
</select><input type="text" class="departure-date datepicker-open" id="departure-date" autocomplete="off"><span class="tid-icon icon-tid-calendar"></span></div>

                            
                            <div class="input-group" id="quote-return-date">
<label for="QuoteDto_ReturnDateDay">Return Date</label><select id="QuoteDto_ReturnDateDay" name="QuoteDto.ReturnDateDay" style="display: none;"><option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option selected="selected" value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
</select><select id="QuoteDto_ReturnDateMonth" name="QuoteDto.ReturnDateMonth" style="display: none;"><option value="1">Jan</option>
<option value="2">Feb</option>
<option value="3">Mar</option>
<option selected="selected" value="4">Apr</option>
<option value="5">May</option>
<option value="6">Jun</option>
<option value="7">Jul</option>
<option value="8">Aug</option>
<option value="9">Sep</option>
<option value="10">Oct</option>
<option value="11">Nov</option>
<option value="12">Dec</option>
</select><select id="QuoteDto_ReturnDateYear" name="QuoteDto.ReturnDateYear" style="display: none;"><option selected="selected" value="2015">2015</option>
<option value="2016">2016</option>
<option value="2017">2017</option>
</select><input type="text" class="return-date" id="return-date" autocomplete="off"><span class="tid-icon icon-tid-calendar"></span></div>

                            
                        </div>

                        <div class="travelling-as beta">
                            <h3>3. Who</h3>
                            <label>Age of adult traveller(s)</label>
                            <div class="input-group" id="quote-traveller-ages">
        <div class="sub-group">
          <input id="QuoteDto_TravellerAges_0__Age" maxlength="2" name="QuoteDto.TravellerAges[0].Age" placeholder="Enter age" type="text" value="">
        </div>
        <div class="sub-group">
          <input id="QuoteDto_TravellerAges_1__Age" maxlength="2" name="QuoteDto.TravellerAges[1].Age" placeholder="Enter age" type="text" value="">
        </div>
</div>

                            
                            <a class="children-go-free" title="Your children under 21 go free" href="#">Your children go free</a>
                            <div class="collapse">
                                This means your dependent children or grandchildren under the
                                age of 21 at the date of policy issue who are travelling with you.
                            </div>
                            <input type="submit" class="continue" name="SubmitQuickQuote" value="Get a Quote">
                        </div>
                    </form>
                </div>
            </div>
        </div>


>>>>>>> origin/master
<style>

  
  @media all and (min-width: 40em) {
#header {
    background: url('/Media/Default/main/hero-images/whatwecover_desktop.jpg') no-repeat center bottom #00bae4;
    background-size: cover;
  }

}
@media all and (max-width: 64em) {
#header {
    background: url('/Media/Default/main/hero-images/whatwecover_tablet.jpg') no-repeat center center #00bae4;
    background-size: cover;
  }

}
@media all and (max-width: 40em) {
#header {
    background: url('/Media/Default/main/hero-images/whatwecover_phone.jpg') no-repeat center center #00bae4;
    background-size: cover;
  }

}

</style>
<<<<<<< HEAD
<article class="content-item">
<div class="header-panel panel campaign-header" id="header">
  <div class="row">
    <div class="small-12 medium-10 large-10 column">
      <h1 class="white">We've got you covered</h1>
      <p class="white">Here at TID we love to travel too.</p>
      
    </div>
  </div>
</div>
  

  
<div class="content-panel content" id="campaign-qqw">
  <div class="row header">
    
    
  <!--   TID QQWidget Container    -->

    <div class="row qqw-full-width blue-panel">
      <div class="small-12 column">

        <!--  Include QQWidget  -->
        {% include "qqw" %}

      </div> 
      <div class="benefits-bar blue left">

        <!--  Include Benefits Bar  -->
        {% include "benefits-bar" %}

      </div>  
    </div>

  <!-- QQW Container END -->
    
    
  </div>
</div>
  
<div class="content-panel content benefits-panel">  
  <!-- Include Benefits Panel Widget -->
  {% include "benefits-panel" %}  
</div>  
  
</article>
=======
</article></div>
<div class="zone zone-after-content">
<article class="widget-gfdg widget-after-content widget-raw-html-widget widget">
    <h2><a href="/">Travel Insurance Direct</a></h2>


<h4>Trusted by over 1 million Australian's</h4>
<p>Trusted by over 1 million Australian's and we are recommended because of our service and value.</p>

<h4>Exceptional Value</h4>
<ul>
<li>Unlimited medical expenses</li>
<li>Unlimited cancellation cover</li>
<li>Covers iPhones, Tablets &amp; cameras</li>
<li>Up to $24,000 of baggage</li>
</ul>

<h4>Money Back Guarantee</h4>
<p>Our 14 day money back guarantee means you can cancel your policy and we'll give you a full refund.</p>

<h4>Help Change Lives</h4>
<p>You too can <a href="http://www.footprints.org.au" target="_blank">help change lives</a> when you buy your travel insurance from TID.</p>

<h4>Trusted &amp; Secure</h4>
<p>Secured by SSL through 128 bit encryption.</p>


<!--  Trusted  -->
<div id="trusted-by">
  <div class="large-12">
    <h4>
      <span class="fa fa-star yellow"></span> <span class="fa fa-star yellow"></span> <span class="fa fa-star yellow"></span> <span class="fa fa-star yellow"></span> <span class="fa fa-star yellow"></span>
    </h4>
    <h4 itemprop="summary">
      “I have used TID several times now as I find their policies give you great cover at a very good price.”
    </h4>

    <div itemscope="" itemtype="http://data-vocabulary.org/Review">
      <p><span itemprop="itemreviewed">Travel Insurance Direct</span> 
        was reviewed on 
        <span itemprop="reviewer">ProductReview.com.au</span>, 
        <time itemprop="dtreviewed" datetime="2015-03-31">31 March 2015</time>
        and rated 
        <span itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
          <meta itemprop="worstRating" content="0">
          <span itemprop="ratingValue">4.2</span>
           / 
          <span itemprop="bestRating">5</span>
          Stars
        </span>
      </p>
    </div>
  </div>
</div>
<!--  Trusted END  -->

</article></div>            </div>
        </div>
    </div>
>>>>>>> origin/master

{% endblock %}